[Unit]
Requires=overlay-mkdir.service
After=overlay-mkdir.service

[Mount]
What=overlay
Where=/etc
Type=overlay
Options=lowerdir=/etc,upperdir=/overlay/upperdir,workdir=/overlay/workdir

[Install]
WantedBy=local-fs.target
