#!/bin/bash

set -Eeuo pipefail

mkdir -p /var/lib/containers /var/tmp
systemctl enable var-lib-containers.mount
systemctl enable var-tmp.mount

cat << EOF > /etc/containers/registries.conf
unqualified-search-registries = ["docker.io"]

[[registry]]
prefix = "docker.io"
insecure = true
location = "docker.io"
EOF

systemctl enable configure_from_aws_user_data.service

groupadd github_action_runner
useradd --system --gid github_action_runner --groups wheel --shell /bin/false github_action_runner

case "$arch" in
	amd64) aws_cli_arch=x86_64 ;;
	arm64) aws_cli_arch=aarch64 ;;
	*)
		echo "unsupported architecture" >&2
		exit 1
		;;
esac

aws_cli_tmp="$(mktemp -d)"
pushd "$aws_cli_tmp"
wget -q "https://awscli.amazonaws.com/awscli-exe-linux-$aws_cli_arch.zip"
unzip -q awscli-exe-linux-$aws_cli_arch.zip
./aws/install
popd
rm -rf "$aws_cli_tmp"

mkdir -p /opt
cd /opt

node_arch="$([ "$arch" = amd64 ] && echo x64 || echo "$arch")"
curl -s -L "https://nodejs.org/dist/v16.15.1/node-v16.15.1-linux-$node_arch.tar.xz" | xz -d | tar -x
ln -s "$PWD/node-v16.15.1-linux-$node_arch/bin/"* /usr/bin

mkdir -p /opt/github_action_runner
cd /opt/github_action_runner

version="$(basename "$(curl -s -f --head "https://github.com/actions/runner/releases/latest" | grep -oiP '(?<=location: ).*' | tr -d '\r')")"
curl -s -f -L "https://github.com/actions/runner/releases/download/$version/actions-runner-linux-$node_arch-${version:1}.tar.gz" | gzip -d | tar -x

chown -R github_action_runner:github_action_runner /opt/github_action_runner
