[Unit]
Description=Download squashfs image

After=network-online.target 
Wants=network-online.target

OnFailure=emergency.target
OnFailureJobMode=isolate
DefaultDependencies=no

[Service]
Type=oneshot
TimeoutStartSec=600
RemainAfterExit=yes
ExecStart=/sbin/live-get-squashfs
