[Unit]
Description=Download squashfs image

After=basic.target network-online.target systemd-resolved.service
Wants=network-online.target

OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
TimeoutStartSec=600
RemainAfterExit=yes
ExecStart=/sbin/live-get-squashfs
