[Unit]
Description=Run AIDE integrity check

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c '/usr/bin/aide --check --config /etc/aide/aide.conf > /dev/shm/aide_check 2>&1'

