rule="/etc/audit/rules.d/70-privileged-special.rules.arm64"

# GL-SET-spa-config-audit-rules-privileged-special-amd64
if [ "$(uname -m)" = "x86_64" ]; then
	# remove arm specific rules on non arm architectures
	rm -f "$rule"
# GL-SET-spa-config-audit-rules-privileged-special-arm64
else
	mv "$rule" "${rule%.*}"
fi
