#!/usr/bin/env bash
set -Eeuo pipefail

# GL-TESTCOV-ali-config-cloud-no-growpart
# GL-TESTCOV-ali-config-cloud-no-resizefs
# GL-TESTCOV-ali-config-cloud-no-ntp
# growpart is done in initramfs, growroot by systemd
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
cat /etc/cloud/cloud.cfg.bak | grep -v "^ - growpart$" | grep -v "^ - resizefs$" | grep -v "^ - ntp$" >/etc/cloud/cloud.cfg
rm /etc/cloud/cloud.cfg.bak
