#!/usr/bin/env bash 

# Workaround for https://bugs.launchpad.net/cloud-init/+bug/1917875 in 20.4.1
wget --quiet http://ftp.de.debian.org/debian/pool/main/c/cloud-init/cloud-init_20.2-2~deb10u1_all.deb -O /tmp/cloud-init_20.2-2~deb10u1_all.deb
apt-get install -y --allow-downgrades -f /tmp/cloud-init_20.2-2~deb10u1_all.deb
rm /tmp/cloud-init_20.2-2~deb10u1_all.deb

# Ali DNS does not support DNSSEC
sed -i 's/^#DNSSEC=allow-downgrade/DNSSEC=false/g' /etc/systemd/resolved.conf

# growpart is done in initramfs, growroot by systemd
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
cat /etc/cloud/cloud.cfg.bak | grep -v "^ - growpart$" | grep -v "^ - resizefs$" | grep -v "^ - ntp$" >/etc/cloud/cloud.cfg  
rm /etc/cloud/cloud.cfg.bak

