#!/usr/bin/env bash
set -Eeuo pipefail

set -x

# =============================================================================
# Audit (CAT II)
# =============================================================================

# GL-TESTCOV-disaSTIGmedium-service-auditd-enable
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000122-GPOS-00063/
systemctl enable auditd.service

# GL-TESTCOV-disaSTIGmedium-config-audit-log-permissions
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000057-GPOS-00027/
chmod 0600 /var/log/audit

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000057-GPOS-00027/
chown root:root -R /var/log/audit

# GL-TESTCOV-disaSTIGmedium-config-audit-auditd-conf
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000057-GPOS-00027/
sed -i '/^log_group/D' /etc/audit/auditd.conf
sed -i /^log_file/a'log_group = root' /etc/audit/auditd.conf

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000059-GPOS-00029/
chmod -R g-w,o-rwx /var/log/audit

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000063-GPOS-00032/
chmod -R 0640 /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000063-GPOS-00032/
chown root:root /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*
