#!/usr/bin/env bash
set -Eeuo pipefail

set -x

ensure_file_absent() {
    local file="${1}"; shift

    if [[ -f "$file" ]]; then
        rm -f "$file"
    fi
}

# =============================================================================
# Audit (CAT II)
# =============================================================================

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000122-GPOS-00063/
systemctl enable auditd.service

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000057-GPOS-00027/
chmod 0600 /var/log/audit

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000057-GPOS-00027/
chown root:root -R /var/log/audit

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000057-GPOS-00027/
sed -i '/^log_group/D' /etc/audit/auditd.conf
sed -i /^log_file/a'log_group = root' /etc/audit/auditd.conf

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000059-GPOS-00029/
chmod -R g-w,o-rwx /var/log/audit

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000063-GPOS-00032/
chmod -R 0640 /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000063-GPOS-00032/
chown root:root /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000278-GPOS-00108/
cat <<EOF > "/etc/aide/aide.conf"
# Audit Tools
/sbin/auditctl p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/auditd p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/ausearch p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/aureport p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/autrace p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/audispd p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/augenrules p+i+n+u+g+s+b+acl+xattrs+sha512
EOF

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000363-GPOS-00150/
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000447-GPOS-00201/
echo 'SILENTREPORTS=no' > /etc/default/aide

# =============================================================================
# OS Hardening (CAT II)
# =============================================================================

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000373-GPOS-00156/
ensure_file_absent /etc/sudoers.d/wheel

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000480-GPOS-00228/
if grep -q "^UMASK" /etc/login.defs; then
    login_defs="$(sed 's/UMASK.*/UMASK\t\t077/' /etc/login.defs)"
    cat > /etc/login.defs <<< "$login_defs"
else
    echo -e "UMASK\t\t077" >> /etc/login.defs
fi

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /lib /usr/lib ! -group root -type d -exec chgrp root '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /lib /usr/lib ! -group root -type f -exec chgrp root '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000206-GPOS-00084/
chmod 0755 /var/log

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000258-GPOS-00099/
find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -user root -type d -exec chown root '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000258-GPOS-00099/
find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin -perm /022 -type d -exec chmod -R 755 '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /lib /usr/lib -perm /022 -type f -exec chmod 755 '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000258-GPOS-00099/
find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -group root -type d -exec chgrp root '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000206-GPOS-00084/
chown root /var/log

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000205-GPOS-00083/
find /var/log -perm /137 ! -name '*[bw]tmp' ! -name '*lastlog' -type f -exec chmod 640 '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000118-GPOS-00060/
useradd --defaults --inactive 35

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /lib /usr/lib ! -user root -type f -exec chown root '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000109-GPOS-00056/
passwd --lock root

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /lib /usr/lib -perm /022 -type d -exec chmod 755 '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000120-GPOS-00061/
if grep -q "^ENCRYPT_METHOD" /etc/login.defs; then
    sed -i 's/^ENCRYPT_METHOD.*/ENCRYPT_METHOD SHA512/' /etc/login.defs
else
    echo "ENCRYPT_METHOD SHA512" >> /etc/login.defs
fi

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin -perm /022 -type f -exec chmod 755 '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -user root -type f -exec chown root '{}' \;

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000259-GPOS-00100/
find -L /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -group root -type f ! -perm /2000 -exec chgrp root '{}' \;
