#!/usr/bin/env bash
set -Eeuo pipefail

# growpart is done in initramfs, growroot by systemd
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
cat /etc/cloud/cloud.cfg.bak | grep -v "^ - growpart$" | grep -v "^ - resizefs$" | grep -v "^ - ntp$" >/etc/cloud/cloud.cfg
rm /etc/cloud/cloud.cfg.bak

# Remove ignition config on arm64
# This is incompatible in combination with arm64, vmware, readonly (ignition)
if [ "$(uname -m)" = aarch64 ]; then  rm /etc/kernel/cmdline.d/50-ignition.cfg; fi
