[Unit]
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Mount]
What=/var/home
Where=/home
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
