[Unit]
DefaultDependencies=no
Before=reload.target
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Mount]
What=/var/home
Where=/home
Type=none
Options=bind

[Install]
WantedBy=reload.target
