[Unit]
DefaultDependencies=no
Before=reload.target
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Mount]
What=/var/opt
Where=/opt
Type=none
Options=bind

[Install]
WantedBy=reload.target
