[Unit]
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Mount]
What=/var/root
Where=/root
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
