/.build
/.buildlogs
/.packages
/.repository
/repository/reprepro/db
/repository/reprepro/logs
/features/_dev/id_dev
/features/_dev/id_dev.pub
/features/_dev/file.include/authorized_keys
/cert/cfssl
/cert/*.key
/cert/*.arn
/cert/*.crt
/cert/*.pub
/cert/*.p12
/cert/*.csr
/cert/*.full
/cert/*.chain
/cert/*.esl
/cert/*.auth
/cert/*.aws-efivars
/cert/GUID.txt
!/cert/gardenlinux-*.crt
!/cert/gardenlinux-*.chain
!/cert/gardenlinux-*.auth
!/cert/gardenlinux-*.aws-efivars
!/cert/gardenlinux.kernel.sign.crt
!/cert/gardenlinux.sign.pub
/features/metal/file.include/lib/firmware/
/container/*/_pipfiles
.idea
__pycache__
/dev
/test.log
/test_results.json
/tests/*.log
/tests/*.xml
make_targets.cache
