/.build
/.buildlogs
/.packages
/.repository
/repository/reprepro/db
/repository/reprepro/logs
/features/_dev/id_dev
/features/_dev/id_dev.pub
/features/_dev/file.include/authorized_keys
/cert/cfssl
/cert/*.key
/cert/*.arn
/cert/*.crt
/cert/*.der
/cert/*.pub
/cert/*.p12
/cert/*.csr
/cert/*.full
/cert/*.chain
/cert/*.esl
/cert/*.auth
/cert/*.aws-efivars
/cert/GUID.txt
!/cert/gardenlinux-*.crt
!/cert/gardenlinux-*.chain
!/cert/gardenlinux-*.auth
!/cert/gardenlinux-*.aws-efivars
!/cert/gardenlinux-repo-sign.pub
!/cert/gardenlinux.kernel.sign.crt
!/cert/gardenlinux.sign.pub
/features/metal/file.include/lib/firmware/
/container/*/_pipfiles
.direnv
.envrc
.idea
.venv
__pycache__
/dev
/test.log
/test_results.json
/tests/*.log
/tests/*.xml
!tests/config/*.yaml.example
tests/config
make_targets.cache
/bin/*.vars
/bin/*.ipxe
/bin/*.permall
/bin/*.qcow2
/bin/swtpm-sock
.DS_Store
venv
shell.nix
s3_downloads/
!**/.terraform.lock.hcl
**/.terraform*
**/terraform.tfstate*
**/*.tfvars
**/*.auto.tfvars
**/.uuid
**/backend.tf
**/encryption.tf
**/env.*.sh
**/login.*.sh
COMMIT
VERSION
