/.build
/.packages
/.repository
/repository/reprepro/db
/repository/reprepro/logs
/features/_dev/id_dev
/features/_dev/id_dev.pub
/features/_dev/file.include/authorized_keys
/cert/cfssl
/cert/*.key
/cert/*.crt
/cert/*.pub
/cert/*.p12
/cert/*.csr
/cert/*.full
/cert/*.chain
/cert/secureboot.*
/cert/GUID.txt
!/cert/gardenlinux.kernel.sign.crt
!/cert/gardenlinux.sign.pub
/features/metal/file.include/lib/firmware/
/docker/*/_pipfiles
.idea
__pycache__
/dev
/test.log
/test_results.json
/tests/*.log
/tests/*.xml
/bin/garden-feat