[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
pyyaml = "*"
requests = "*"
jsonschema = "*"
gardenlinux = {ref = "0.8.4", git = "https://github.com/gardenlinux/python-gardenlinux-lib.git"}

[dev-packages]

[requires]
python_version = "3.13"
