[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gardenlinux = {ref = "0.10.1", git = "https://github.com/gardenlinux/python-gardenlinux-lib.git"}

[dev-packages]

[requires]
python_version = "3.13"
