[Unit]
Description=Garden Linux CIS Aide DB setup
DefaultDependencies=no
After=var.mount
[Service]
Type=oneshot
ExecStart=aideinit
RemainAfterExit=yes
[Install]
WantedBy=default.target
