[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
boto3 = "*"
paramiko = "*"
pyyaml = "*"
scp = "*"
google-api-python-client = "*"
google-cloud-storage = "*"
google-cloud-datastore = "*"
google-cloud = "*"
oauth2client = "*"
dacite = "*"
aliyun-python-sdk-core = "*"
aliyun-python-sdk-ecs = "*"
oss2 = "*"
python-openstackclient = "*"

[dev-packages]
flake8 = "*"
black = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
