[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
boto3 = "*"
paramiko = "*"
python-novaclient = "*"
click = "*"
pyyaml = "*"
scp = "*"
dacite = "*"
cffi = "*"
pytest-json-report = "*"
pytest-rerunfailures = "*"
python-gardenlinux-lib = {editable = true, ref = "0.6.0", git = "git+https://github.com/gardenlinux/python-gardenlinux-lib.git"}

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
uefivars = {editable = true, ref = "v1.2", git = "git+https://github.com/awslabs/python-uefivars.git"}

[ali-packages]
oss2 = "*"
aliyun-python-sdk-core = "*"
aliyun-python-sdk-ecs = "*"

[openstack-packages]
python-openstackclient = "*"

[azure-cli]
azure-cli = ">=2.44.0"   # https://github.com/Azure/azure-cli/issues/23015

[azure-packages]
azure-cli = ">=2.44.0"   # https://github.com/Azure/azure-cli/issues/23015
azure-core = "*"
azure-identity = "*"
azure-mgmt-subscription = "*"
azure-mgmt-resource = "*"
azure-mgmt-compute = "*"
azure-mgmt-storage = "*"
azure-mgmt-network = "*"
azure-storage-blob = "*"

[gcp-packages]
google-auth = "*"
google-cloud-compute = "*"
google-cloud-storage = "*"

[kvm-packages]

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
