[Unit]
Description=SSH Moduli Generation
ConditionPathExists=|!/etc/ssh/moduli

[Service]
ExecStart=ssh-keygen -M generate -O bits=2048 /etc/ssh/candidates
ExecStart=ssh-keygen -M screen -f /etc/ssh/candidates /etc/ssh/moduli 
ExecStart=rm /etc/ssh/candidates
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
