#!/usr/bin/env bash
set -Eeuo pipefail

echo "-w /var/log/tallylog -p wa -k logins" >> /etc/audit/rules.d/audit.rules

# Add and enable Garden Linux IPTables firewall
ln -s /etc/systemd/system/gardenlinux-fw-ipv4.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv4.service
ln -s /etc/systemd/system/gardenlinux-fw-ipv6.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv6.service