#!/usr/bin/env bash
set -Eeuo pipefail

# GL-SET-fedramp-config-audit-tallylog
echo "-w /var/log/tallylog -p wa -k logins" >>/etc/audit/rules.d/audit.rules

# Add and enable Garden Linux IPTables firewall
# GL-SET-fedramp-service-gardenlinux-fw-ipv4-enable
ln -s /etc/systemd/system/gardenlinux-fw-ipv4.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv4.service
# GL-SET-fedramp-service-gardenlinux-fw-ipv6-enable
ln -s /etc/systemd/system/gardenlinux-fw-ipv6.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv6.service
