#!/usr/bin/env bash

set -eufo pipefail

#CHECKSUM_AAARCH=7327c7a15746869f454f10542113cea2470716bf6b7c1d7e14c516a5662eba50
CHECKSUM_X64=847cd87dcbde72a5d7977bfca061a8bb8233537719c47faa8a0b74073f8dc065

curl -sSL https://github.com/SAP/SapMachine/releases/download/sapmachine-20.0.2/sapmachine-jre-20.0.2_linux-$(uname -m | sed 's/x86_64/x64/')_bin.tar.gz | gzip -d | tar -C /opt/ -x
ln -s /opt/sapmachine-jre-20.0.2/bin/java /usr/bin/java

echo "${CHECKSUM_X64} /usr/bin/java" | sha256sum --check || exit 1
