#!/usr/bin/env bash

set -eufo pipefail

CHECKSUM_AAARCH=c9d83b8079cb8a6995b6fe605b88cabe27be2ec8e49a613289187855948f09b6
CHECKSUM_X64=af9cb50032b709fc46ecb2a8f992c093f16091a3b9959df08180bf2b349ea5ca
SAPMACHINE_JRE_VERSION=21.0.1
ARCH="$(uname -m | sed 's/x86_64/x64/')"

curl -sSL "https://github.com/SAP/SapMachine/releases/download/sapmachine-${SAPMACHINE_JRE_VERSION}/sapmachine-jre-${SAPMACHINE_JRE_VERSION}_linux-${ARCH}_bin.tar.gz" | gzip -d | tar -C /opt/ -x
ln -s /opt/sapmachine-jre-${SAPMACHINE_JRE_VERSION}/bin/java /usr/bin/java


if [ "$ARCH" = "x64" ]; then
  EXPECTED_CHECKSUM="$CHECKSUM_X64"
else
  EXPECTED_CHECKSUM="$CHECKSUM_AAARCH"
fi

echo "${EXPECTED_CHECKSUM} /usr/bin/java" | sha256sum --check || exit 1

