#!/usr/bin/env bash

set -eufo pipefail

# To be updated via `update-sapmachine.py`
SAPMACHINE_JRE_VERSION=21.0.4
CHECKSUM_X64=4aed6af59ef5a8151fff641ff2d0a5be24791af69327d07a8ad15c6f0d575218
CHECKSUM_AARCH=2ae71034a9d9545d98b389d48bd384dc7afa77df3173221803300844f6d5199e

ARCH="$(uname -m | sed 's/x86_64/x64/')"

download_dir=$(mktemp -d)
pushd "$download_dir"

curl -sSL --output jre.tgz "https://github.com/SAP/SapMachine/releases/download/sapmachine-${SAPMACHINE_JRE_VERSION}/sapmachine-jre-${SAPMACHINE_JRE_VERSION}_linux-${ARCH}_bin.tar.gz"
if [ "$ARCH" = "x64" ]; then
  EXPECTED_CHECKSUM="$CHECKSUM_X64"
else
  EXPECTED_CHECKSUM="$CHECKSUM_AARCH"
fi
echo "${EXPECTED_CHECKSUM} jre.tgz" | sha256sum --check || exit 1
tar xf jre.tgz --directory=/opt

popd

rm -rf "$download_dir"

ln -s /opt/sapmachine-jre-${SAPMACHINE_JRE_VERSION}/bin/java /usr/bin/java
