#!/usr/bin/env bash
set -Eeuo pipefail

set -x

ensure_line() {
    local file="${1}"; shift
    local property="${1}"; shift
    local parameters="${1}"; shift

    if [[ -f "$file" ]]; then
        if grep -q "^$property" "$file"; then
            sed -i "s/^\($property \).*/\1$parameters/" "$file"
        else
            echo "$property $parameters" >> "$file"
        fi
    fi

    grep "^$property" "$file"
}

# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238202
ensure_line /etc/login.defs PASS_MIN_DAYS 1

# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238203
ensure_line /etc/login.defs PASS_MAX_DAYS 60

# Update PAM-settings
# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238237
# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238234
# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238373
DEBIAN_FRONTEND=noninteractive pam-auth-update --remove passwdqc
