#!/usr/bin/env bash
set -Eeuo pipefail

set -x

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000075-GPOS-00043/
sed -i 's/^\(PASS_MIN_DAYS\s*\).*/\11/' /etc/login.defs

# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000076-GPOS-00044/
sed -i 's/^\(PASS_MAX_DAYS\s*\).*/\160/' /etc/login.defs

# Update PAM-settings
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000480-GPOS-00226/
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000077-GPOS-00045/
# https://stigaview.com/products/srg-gpos/v3r2/SRG-OS-000480-GPOS-00227/
DEBIAN_FRONTEND=noninteractive pam-auth-update --remove passwdqc
