#!/usr/bin/env bash
set -Eeuo pipefail

# Set up a virtual environment for exportLibs.py to keep the system-wide packages clean
# Otherwise, pyelftools would be copied to the bare-python container in the multistage build
cd root 
mkdir venv
python3 -m venv venv

# shellcheck source=/dev/null
source venv/bin/activate
pip install pyelftools
deactivate

cd ..
