#!/usr/bin/env bash
set -Eeuo pipefail

cd root 

git clone https://github.com/gardenlinux/python-gardenlinux-lib
cd python-gardenlinux-lib
# TODO: remove checkout after merge of https://github.com/gardenlinux/python-gardenlinux-lib/pull/253
git checkout feat/export-libs
mkdir venv
python3 -m venv venv

# shellcheck source=/dev/null
source venv/bin/activate
pip install poetry
poetry install
deactivate

cd ../..

ln root/python-gardenlinux-lib/venv/bin/gl-* /usr/bin/
