#!/usr/bin/env bash
set -Eeuo pipefail

# growpart is done in initramfs, growroot by systemd
# GL-TESTCOV-openstack-config-cloud-no-growpart
# GL-TESTCOV-openstack-config-cloud-no-resizefs
# GL-TESTCOV-openstack-config-cloud-no-ntp
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
grep -v "^ - growpart$" /etc/cloud/cloud.cfg.bak | grep -v "^ - resizefs$" | grep -v "^ - ntp$" > /etc/cloud/cloud.cfg
rm /etc/cloud/cloud.cfg.bak

# GL-TESTCOV-openstack-config-os-release-platform-variant
GARDENLINUX_PLATFORM_VARIANT=vmware
if grep ',metal,' > /dev/null <<< ",$BUILDER_FEATURES,"; then
	GARDENLINUX_PLATFORM_VARIANT=metal
fi

cat >> /etc/os-release << EOF
GARDENLINUX_PLATFORM_VARIANT=$GARDENLINUX_PLATFORM_VARIANT
EOF
