# Workaround for https://bugs.launchpad.net/cloud-init/+bug/1946003
rm /lib/udev/rules.d/10-cloud-init-hook-hotplug.rules

# growpart is done in initramfs, growroot by systemd
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
cat /etc/cloud/cloud.cfg.bak | grep -v "^ - growpart$" | grep -v "^ - resizefs$" | grep -v "^ - ntp$" >/etc/cloud/cloud.cfg  
rm /etc/cloud/cloud.cfg.bak 
