#!/usr/bin/env bash
set -Eeuo pipefail

# growpart is done in initramfs, growroot by systemd
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
cat /etc/cloud/cloud.cfg.bak | grep -v "^ - growpart$" | grep -v "^ - resizefs$" | grep -v "^ - ntp$" >/etc/cloud/cloud.cfg  
rm /etc/cloud/cloud.cfg.bak 

# deborphan bug workaround:
# deborphan does not properly parse `Provides: libmspack0 (= 0.11-1.1)`
# => libmspack0t64 wrongly detected as orphan during tests

apt-mark manual libmspack0t64

# TODO: once migrating from openstackbaremetal to a combined openstack with openstack-metal option
# this must be made dynamic by checking whether the metal feature is enabled
cat >> /etc/os-release << EOF
GARDENLINUX_PLATFORM_VARIANT=vmware
EOF
