#!/usr/bin/env bash
set -Eeuo pipefail

systemctl enable ignition-disable.service

# crictl
CRI_VERSION=1.26.1

wget --show-progress --progress=bar:force -4 -P /usr/local/bin \
  https://github.com/kubernetes-sigs/cri-tools/releases/download/v${CRI_VERSION}/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

rm -f /root/.wget-hsts

tar -C /usr/local/bin -xf /usr/local/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz
