#!/usr/bin/env bash
set -Eeuo pipefail

# growpart is done in initramfs, growroot by systemd
# GL-TESTCOV-stackit-config-cloud-no-growpart
# GL-TESTCOV-stackit-config-cloud-no-resizefs
# GL-TESTCOV-stackit-config-cloud-no-ntp
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
grep -v "^ - growpart$" /etc/cloud/cloud.cfg.bak | grep -v "^ - resizefs$" | grep -v "^ - ntp$" > /etc/cloud/cloud.cfg
rm /etc/cloud/cloud.cfg.bak

cat >> /etc/os-release << EOF
GARDENLINUX_PLATFORM_VARIANT=stackit
EOF

# ptp_kvm is a loadable module on amd64 but built-in on arm64;
# modules-load.d is only needed on amd64
# GL-TESTCOV-stackit-config-modules-load-ptp-kvm
if [ "$(uname -m)" != "x86_64" ]; then
    rm -f /etc/modules-load.d/ptp_kvm.conf
fi
