#!/bin/bash
# set the default to iptalbes and deactivate nf_tables kernel modules
#
update-alternatives --set iptables /usr/sbin/iptables-legacy
update-alternatives --set ip6tables /usr/sbin/ip6tables-legacy
update-alternatives --set arptables /usr/sbin/arptables-legacy
update-alternatives --set ebtables /usr/sbin/ebtables-legacy

# just to make sure there are no traces left
#
systemctl mask nftables.service

wget -P \
	/usr/local/bin https://storage.googleapis.com/kubernetes-release/release/v1.17.4/bin/linux/amd64/{kubeadm,kubelet,kubectl} \
	https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.17.0/crictl-v1.17.0-linux-amd64.tar.gz 
	
tar -C /usr/local/bin -xf /usr/local/bin/crictl-v1.17.0-linux-amd64.tar.gz
rm -f /usr/local/bin/crictl-v1.17.0-linux-amd64.tar.gz

chmod +x /usr/local/bin/{kubeadm,kubelet,kubectl}
