#!/usr/bin/env bash
set -Eeuo pipefail

pushd /etc || exit 1
# GL-SET-server-config-locale-conf-permissions
chmod 644 locale.conf
# GL-SET-server-config-locale-link
rm -f /etc/default/locale
ln -s locale.conf default/locale
popd || exit 1

# GL-SET-server-service-systemd-networkd-enable
systemctl enable systemd-networkd
# GL-SET-server-service-systemd-resolved-enable
systemctl enable systemd-resolved
# GL-SET-server-config-mount-tmp-enable
systemctl enable tmp.mount

# GL-SET-server-service-kexec-load-enable
for i in $(ls /boot | grep vmlinuz | sed "s/vmlinuz-//"); do
	systemctl enable kexec-load@$i
done

update-ca-certificates
# GL-SET-server-config-group-wheel
addgroup --system wheel

# fix file system permissions for higher security
# GL-SET-server-config-hosts-permissions
chmod g-w / /etc/hosts

# allow su only for members of wheel
# GL-SET-server-config-pam-su-wheel
sed -r '/^auth\s+sufficient\s+pam_rootok\.so/a auth       required pam_wheel.so' -i /etc/pam.d/su

# set permissions to 0640 to /etc/skel/*
# GL-SET-server-config-skel-bash-permissions
chmod 0640 /etc/skel/.bash*
# GL-SET-server-config-skel-profile-permissions
chmod 0640 /etc/skel/.profile

# remove nis
# GL-SET-server-config-nsswitch-no-nis
sed -r '/^netgroup:\s+nis/d' -i /etc/nsswitch.conf

# GL-SET-server-config-pam-auth-no-passwdqc
DEBIAN_FRONTEND=noninteractive pam-auth-update --remove passwdqc

# deborphan bug workaround:
# deborphan does not properly parse `Provides: liburcu8 (= 0.14.0-3.1)`
# => liburcu8t64 wrongly detected as orphan during tests

apt-mark manual liburcu8t64
