#!/usr/bin/env bash
set -Eeuo pipefail

pushd /etc || exit 1
chmod 644 locale.conf
rm -f /etc/default/locale
ln -s locale.conf default/locale
popd || exit 1

systemctl enable systemd-networkd
systemctl enable systemd-resolved
systemctl enable tmp.mount

for i in $(ls /boot | grep vmlinuz | sed "s/vmlinuz-//"); do
	systemctl enable kexec-load@$i
done

update-ca-certificates
addgroup --system wheel

# fix file system permissions for higher security
chmod g-w / /etc/hosts
