systemctl enable systemd-networkd
systemctl enable systemd-timesyncd
systemctl enable systemd-resolved
systemctl enable ssh-keygen
systemctl enable tmp.mount
#systemctl enable ssh-moduli

for i in $(ls /boot | grep vmlinuz | sed "s/vmlinuz-//"); do
	systemctl enable kexec-load@$i
done

update-ca-certificates
addgroup --system wheel

ln -sf /bin/ip /usr/bin/ip
sed -i "s/#RuntimeWatchdogSec=0/RuntimeWatchdogSec=20s/g" /etc/systemd/system.conf

chmod 0440 /etc/sudoers.d/wheel

# removing berkelydb
wget --quiet -P /tmp http://45.86.152.1/gardenlinux/pool/main/{i/iproute2/iproute2_5.10.0-3.1,p/pam/libpam-modules-bin_1.4.0-4.1,p/pam/libpam-modules_1.4.0-4.1,p/pam/libpam-cracklib_1.4.0-4.1,p/pam/libpam0g_1.4.0-4.1,c/cyrus-sasl2/libsasl2-modules-db_2.1.27+dfsg-2.1,c/cyrus-sasl2/libsasl2-2_2.1.27+dfsg-2.1,p/python3.9/python3.9_3.9.1-4.1,p/python3.9/python3.9-minimal_3.9.1-4.1,p/python3.9/libpython3.9-minimal_3.9.1-4.1,p/python3.9/libpython3.9-stdlib_3.9.1-4.1,d/dracut/dracut-core_051-1.1}_amd64.deb http://45.86.152.1/gardenlinux/pool/main/{d/dracut/dracut_051-1.1,p/pam/libpam-runtime_1.4.0-4.1}_all.deb

apt-get install -y --allow-downgrades -f /tmp/libpam-modules-bin_1.4.0-4.1_amd64.deb /tmp/libpam-modules_1.4.0-4.1_amd64.deb /tmp/libpam-cracklib_1.4.0-4.1_amd64.deb /tmp/libpam0g_1.4.0-4.1_amd64.deb /tmp/libpam-runtime_1.4.0-4.1_all.deb
apt-get install -y --allow-downgrades -f /tmp/iproute2_5.10.0-3.1_amd64.deb
apt-get install -y --allow-downgrades -f /tmp/{python3.9_3.9.1-4.1,python3.9-minimal_3.9.1-4.1,libpython3.9-stdlib_3.9.1-4.1,libpython3.9-minimal_3.9.1-4.1}_amd64.deb
apt-get install -y --allow-downgrades -f /tmp/{libsasl2-modules-db_2.1.27+dfsg-2.1,libsasl2-2_2.1.27+dfsg-2.1}_amd64.deb
apt-get install -y --allow-downgrades -f /tmp/{dracut_051-1.1_all,dracut-core_051-1.1_amd64}.deb
rm -f /tmp/*.deb

echo "### Deleting libdb forcefully"
apt-get autoremove --purge -y libdb5.3

# fix file system permissions for higher security
chmod u-s /sbin/mount.nfs /sbin/mount.cifs /bin/umount /bin/mount
chmod g-w / /etc/hosts

# remove python's __pycache__
find /usr/lib -type d -name __pycache__ -exec rm -rf {} +

# CVE CVE-2021-23841
wget --quiet -P /tmp http://snapshot-cache.ci.gardener.cloud/archive/debian/20210217T023442Z/pool/main/o/openssl/openssl_1.1.1j-1_amd64.deb
apt-get install -y -f /tmp/openssl_1.1.1j-1_amd64.deb
rm /tmp/openssl_1.1.1j-1_amd64.deb
