project_id     = "your-gcp-project"
region         = "europe-west3"
region_storage = "europe-west3"
test_name      = "my-gardenlinux-test"
image_source   = "/gardenlinux/.build/gcp_dev-amd64-today-local.gcpimage.tar.gz"
ssh_public_key = "~/.ssh/id_ed25519.pub"
