[Unit]
DefaultDependencies=no
After=tpm2.target
Wants=tpm2.target
Before=systemd-repart.service

[Service]
Type=oneshot
ExecStart=/usr/bin/check-tpm
RemainAfterExit=yes
