[Unit]
DefaultDependencies=no
Requires=systemd-repart.service
After=systemd-repart.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemd-cryptsetup attach var /dev/disk/by-partlabel/VAR
