[Unit]
Requires=var.mount
After=var.mount
After=resize-var-tmpfs.service
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setup-writable

[Install]
WantedBy=local-fs.target
