[Unit]
Description=SSH Key Generation
ConditionPathExists=|!/var/lib/ssh/ssh_host_rsa_key
ConditionPathExists=|!/var/lib/ssh/ssh_host_rsa_key.pub
ConditionPathExists=|!/var/lib/ssh/ssh_host_ecdsa_key
ConditionPathExists=|!/var/lib/ssh/ssh_host_ecdsa_key.pub
ConditionPathExists=|!/var/lib/ssh/ssh_host_ed25519_key
ConditionPathExists=|!/var/lib/ssh/ssh_host_ed25519_key.pub
Before=ssh.service

[Service]
ExecStartPre=/usr/bin/mkdir -p /var/lib/ssh
ExecStart=/usr/bin/ssh-keygen -t rsa -b 4096 -N '' -f /var/lib/ssh/ssh_host_rsa_key
ExecStart=/usr/bin/ssh-keygen -t ecdsa -N '' -f /var/lib/ssh/ssh_host_ecdsa_key
ExecStart=/usr/bin/ssh-keygen -t ed25519 -N '' -f /var/lib/ssh/ssh_host_ed25519_key
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
