[Unit]
Requires=systemd-repart.service
After=systemd-repart.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/dd if=/dev/zero of=/dev/disk/by-partlabel/SWAP bs=4096 count=2
ExecStart=/usr/lib/systemd/systemd-cryptsetup attach swap /dev/disk/by-partlabel/SWAP /dev/urandom swap,cipher=aes-xts-plain64,size=512,sector-size=4096
ExecStop=/usr/lib/systemd/systemd-cryptsetup detach swap
ExecStartPost=/sbin/mkswap /dev/mapper/swap
