[Unit]
Before=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmpfsify /etc/systemd/system

[Install]
WantedBy=local-fs.target
