#!/usr/bin/env bash

set -e

openssl fipsinstall -out /etc/ssl/fipsmodule.cnf -module /usr/lib/$(arch)-linux-gnu/ossl-modules/fips.so
ln -s /etc/ssl/fipsmodule.cnf /usr/lib/ssl/fipsmodule.cnf

cp /etc/ssl/openssl.cnf /etc/ssl/openssl.cnf.orig

awk '/^# \.include fipsmodule\.cnf$/ {
	print "##"
	print "## https://www.openssl.org/docs/manmaster/man7/fips_module.html"
	print "##"
	print ".include /etc/ssl/fipsmodule.cnf"
	next
}

/^providers = provider_sect$/ {
	print
	print "alg_section = algorithm_sect"
	next
}

/^# fips = fips_sect$/ {
	print "fips = fips_sect"
	next
}

/^# activate = 1$/ {
	print "activate = 1"
	print "[algorithm_sect]"
	print "default_properties = fips=yes"
	next
}

{ print }' /etc/ssl/openssl.cnf.orig > /etc/ssl/openssl.cnf

chmod 0644 /etc/ssl/openssl.cnf
