[Unit]
After=sysroot-var.mount
Requires=sysroot-var.mount
Before=sysroot-etc.mount
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setup-etc-overlay
