[Unit]
DefaultDependencies=no
After=tpm2.target
Before=local-fs-pre.target
Before=systemd-repart.service

[Service]
Type=oneshot
ExecStart=/usr/bin/check-tpm
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
