[Unit]
Requires=systemd-cryptsetup@var.service
After=systemd-cryptsetup@var.service

[Mount]
What=/dev/mapper/var
Where=/var
Type=ext4

[Install]
WantedBy=local-fs.target
