#!/bin/bash

# set the default to iptalbes and deactivate nf_tables kernel modules
#
update-alternatives --set iptables /usr/sbin/iptables-legacy
update-alternatives --set ip6tables /usr/sbin/ip6tables-legacy
update-alternatives --set arptables /usr/sbin/arptables-legacy
update-alternatives --set ebtables /usr/sbin/ebtables-legacy

# just to make sure there are no traces left
#
systemctl mask nftables.service

# Temporary mitigate https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=970525
wget -P /tmp http://snapshot-cache.ci.gardener.cloud/archive/debian/20200927T083842Z/pool/main/d/docker.io/docker.io_19.03.13%2Bdfsg1-2_amd64.deb
apt-get install -y -f /tmp/docker.io_19.03.13+dfsg1-2_amd64.deb
rm -f /tmp/docker.io_19.03.13+dfsg1-2_amd64.deb

# Disable docker and containerd, Gardener will have to enable the
# one it uses
#
systemctl disable docker
systemctl disable containerd
