#!/usr/bin/env bash
set -Eeuo pipefail

# fix file system permissions for higher security
chmod u-s /sbin/mount.nfs /sbin/mount.cifs

systemctl preset ssh.service

# Several Gardener components (such as Cilium) are not compatible with iptables-nft
# so we need to revert to iptables-legacy
update-alternatives --set iptables "/usr/sbin/iptables-legacy" > /dev/null
update-alternatives --set ip6tables "/usr/sbin/ip6tables-legacy" > /dev/null
update-alternatives --set arptables "/usr/sbin/arptables-legacy" > /dev/null
update-alternatives --set ebtables "/usr/sbin/ebtables-legacy" > /dev/null

# new containerd
# from https://github.com/gardenlinux/package-containerd/actions/runs/12807157730
wget http://194.11.242.247/ctd/containerd_2.0.2-0gl~dev_$(dpkg --print-architecture).deb -O /tmp/containerd_$(dpkg --print-architecture).deb
if [ $(dpkg --print-architecture) == "amd64" ]; then
	echo "160b18343668b5b8909f801d6753be022af407b2650cc38e4947622a48cf9f90  /tmp/containerd_amd64.deb" | sha256sum -c
else
	echo "92c430474f8762f3f236e6023c9d3d303ac562f70c19487dbc077e131f8cc9f9  /tmp/containerd_arm64.deb" | sha256sum -c
fi
dpkg -i /tmp/containerd-$(dpkg --print-architecture).deb
rm -f /tmp/containerd-$(dpkg --print-architecture).deb

# Disable containerd, Gardener will have to enable it
# TODO: for the time being keep these here as it's more obvious, but they should be moved to file.include
mkdir -p /etc/systemd/system-preset
echo "disable containerd.service" > /etc/systemd/system-preset/00-containerd-disable.preset
echo "disable ssh.service" > /etc/systemd/system-preset/00-ssh-disable.preset
systemctl preset containerd.service
