#!/bin/bash

# set the default to iptalbes and deactivate nf_tables kernel modules
update-alternatives --set iptables /usr/sbin/iptables-legacy
update-alternatives --set ip6tables /usr/sbin/ip6tables-legacy
update-alternatives --set arptables /usr/sbin/arptables-legacy
update-alternatives --set ebtables /usr/sbin/ebtables-legacy

# just to make sure there are no traces left
systemctl mask nftables.service

# Disable docker and containerd, Gardener will have to enable the
# one it uses
systemctl disable docker.service
systemctl disable docker.socket
systemctl disable containerd.service

# install crictl required for Gardener node bootstrapping of CRI enabled nodes
VERSION="v1.18.0"
wget https://github.com/kubernetes-sigs/cri-tools/releases/download/$VERSION/crictl-$VERSION-linux-amd64.tar.gz
tar zxvf crictl-$VERSION-linux-amd64.tar.gz -C /usr/local/bin
rm -f crictl-$VERSION-linux-amd64.tar.gz