# Disable root login.
PermitRootLogin no

# Only use the more secure SSHv2 protocol.
Protocol 2

# No X11 forwarding.
X11Forwarding no

# Check permissions of configuration files related to SSH on login.
# If this fails, the user won’t be able to login.
StrictModes yes

# Disable host-based authentications.
IgnoreRhosts yes
HostbasedAuthentication no

# Set log level to be verbose.
LogLevel INFO

# Ensure usage of PAM
UsePAM yes

# Use secure Ciphers
Ciphers aes128-ctr,aes192-ctr,aes256-ctr
MACs hmac-sha2-256,hmac-sha2-512

PrintMotd no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem   sftp    /usr/lib/openssh/sftp-server

# autologout inactive users after 10 minutes
ClientAliveInterval 600
ClientAliveCountMax 0
