#!/usr/bin/env bash
set -Eeuo pipefail

# Add contrib non-free repositories to be present
# within chroot creation
echo "deb http://deb.debian.org/debian testing main contrib non-free" >> /etc/apt/sources.list
apt-get update

# Install needed packages for CIS
DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends git syslog-ng libpam-pwquality libpam-modules-bin tcpd
