[Unit]
After=network-online.target

[Service]
User=github_action_runner
Group=github_action_runner
ExecStart=/usr/bin/github_action_runner
ExecStopPost=/usr/bin/notify_scheduler
ExecStopPost=+/sbin/halt -f -p
RuntimeMaxSec=4h

[Install]
WantedBy=multi-user.target
