#!/usr/bin/env bash
set -Eeuo pipefail

# set default timezone
# GL-SET-gdch-config-timezone-utc
ln -sf /usr/share/zoneinfo/UTC /etc/localtime

# GL-SET-gdch-config-ssh-sshd-config-google-oslogin
cat >>/etc/ssh/sshd_conf <<EOF

# Needed for google oslogin
AuthorizedKeysCommand /usr/libexec/google_authorized_keys
AuthorizedKeysCommandUser root
EOF
