K8S_VERSION=1.22.2
CRI_VERSION=1.22.0

wget --show-progress --progress=bar:force -4 -P /usr/local/bin \
  https://storage.googleapis.com/kubernetes-release/release/v${K8S_VERSION}/bin/linux/amd64/{kubeadm,kubelet,kubectl} \
  https://github.com/kubernetes-sigs/cri-tools/releases/download/v${CRI_VERSION}/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

rm -f /root/.wget-hsts

tar -C /usr/local/bin -xf /usr/local/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz
rm -f /usr/local/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

chmod +x /usr/local/bin/{kubeadm,kubelet,kubectl}
mv /usr/local/bin/kubelet /usr/local/sbin
systemctl enable kubelet
