#!/usr/bin/env bash
set -Eeuo pipefail

K8S_VERSION=1.25.3
CRI_VERSION=1.25.0
CHECKSUM_KUBEADM="01b59ce429263c62b85d2db18f0ccdef076b866962ed63971ff2bd2864deea7b"
CHECKSUM_KUBELET="d5c89c5e5dae6afa5f06a3e0e653ac3b93fa9a93c775a715531269ec91a54abe"
CHECKSUM_KUBECTL="f57e568495c377407485d3eadc27cda25310694ef4ffc480eeea81dea2b60624"
CHECKSUM_CRI="86ab210c007f521ac4cdcbcf0ae3fb2e10923e65f16de83e0e1db191a07f0235"

wget --show-progress --progress=bar:force -4 -P /usr/local/bin \
  https://storage.googleapis.com/kubernetes-release/release/v${K8S_VERSION}/bin/linux/amd64/{kubeadm,kubelet,kubectl} \
  https://github.com/kubernetes-sigs/cri-tools/releases/download/v${CRI_VERSION}/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

echo "${CHECKSUM_KUBECTL}  /usr/local/bin/kubectl" | sha256sum --check || exit 1
echo "${CHECKSUM_KUBELET}  /usr/local/bin/kubelet" | sha256sum --check || exit 1
echo "${CHECKSUM_KUBEADM}  /usr/local/bin/kubeadm" | sha256sum --check || exit 1
echo "${CHECKSUM_CRI}  /usr/local/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz" | sha256sum --check || exit 1

rm -f /root/.wget-hsts

tar -C /usr/local/bin -xf /usr/local/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz
rm -f /usr/local/bin/crictl-v${CRI_VERSION}-linux-amd64.tar.gz

chmod +x /usr/local/bin/{kubeadm,kubelet,kubectl}
mv /usr/local/bin/kubelet /usr/local/sbin
systemctl enable kubelet
