#!/usr/bin/env bash
set -Eeuo pipefail

set -x

ensure_line() {
    local file="${1}"; shift
    local property="${1}"; shift
    local parameters="${1}"; shift

    if [[ -f "$file" ]]; then
        if grep -q "^$property" "$file"; then
            sed -i "s/^\($property \).*/\1$parameters/" "$file"
        else
            echo "$property $parameters" >> "$file"
        fi
    fi

    grep "^$property" "$file"
}

ensure_file_absent() {
    local file="${1}"; shift

    if [[ -f "$file" ]]; then
        rm -f "$file"
    fi
}

ensure_stig_compliance() {
    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238217
    ensure_line /etc/ssh/sshd_config Ciphers aes256-ctr,aes192-ctr,aes128-ctr

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238216
    ensure_line /etc/ssh/sshd_config MACs hmac-sha2-512,hmac-sha2-256

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238219
    ensure_line /etc/ssh/sshd_config X11Forwarding no

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238218
    ensure_line /etc/ssh/sshd_config PermitEmptyPasswords no
    ensure_line /etc/ssh/sshd_config PermitUserEnvironment no

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238213
    ensure_line /etc/ssh/sshd_config ClientAliveInterval 600

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238212
    ensure_line /etc/ssh/sshd_config ClientAliveCountMax 1

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238220
    ensure_line /etc/ssh/sshd_config X11UseLocalhost yes

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-255912
    ensure_line /etc/ssh/sshd_config KexAlgorithms ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238380
    #systemctl disable ctrl-alt-del.target
    #systemctl mask ctrl-alt-del.target
    #systemctl daemon-reload

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238208
    ensure_file_absent /etc/sudoers.d/wheel
    if grep --extended-regexp --quiet --ignore-case '(nopasswd|!authenticate)' /etc/sudoers /etc/sudoers.d/*; then
        echo ERROR V-238208: Test failed. This command should not return any findings:
        grep --extended-regexp --quiet --ignore-case '(nopasswd|!authenticate)' /etc/sudoers /etc/sudoers.d/*
        exit 1
    fi

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238209
    # ensure_line /etc/login.defs "UMASK        " 077
    sed -i 's/UMASK\t\t[[:digit:]][[:digit:]][[:digit:]]/UMASK 077/' /etc/login.defs
    grep ^UMASK /etc/login.defs

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238205
    if [[ -n $(awk -F ":" 'list[$3]++{print $1, $3}' /etc/passwd) ]] ; then
        echo ERROR V-238205: Test failed. This command should not print any user accounts:
        awk -F ":" 'list[$3]++{print $1, $3}' /etc/passwd
    fi

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238207
    if ! grep --extended-regexp --quiet "\bTMOUT=[0-9]+" /etc/bash.bashrc /etc/profile.d/*; then
        mkdir -p /etc/profile.d
        echo 'TMOUT=600' >> /etc/profile.d/99-terminal_tmout.sh
        chmod +x /etc/profile.d/99-terminal_tmout.sh
    fi

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238360
    # We use SELinux instead of AppArmor
    if which getenforce; then
        echo SELinux is installed
    else
        echo It looks like SELinux is not installed, but should be
        exit 1
    fi

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238369
    HAS_ASLR=$(sysctl kernel.randomize_va_space)
    if [[ "kernel.randomize_va_space = 2" != "$HAS_ASLR" ]]; then
        echo Looks like address space layout randomization is not enabled
        sysctl kernel.randomize_va_space
        exit 1
    fi

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238352
    # find /lib /usr/lib /lib64 ! -group root -type d -exec chgrp root '{}' \;
    find /lib /usr/lib ! -group root -type d -exec chgrp root '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238353
    systemctl enable rsyslog

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238351
    # find /lib /usr/lib /lib64 ! -group root -type f -exec chgrp root '{}' \;
    find /lib /usr/lib ! -group root -type f -exec chgrp root '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238358
    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238372
    echo 'SILENTREPORTS=no' > /etc/default/aide

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238298
    systemctl enable auditd.service


    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238341
    # chgrp adm /var/log/syslog

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238340
    chmod 0755 /var/log

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238345
    find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -user root -type d -exec chown root '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238344
    find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin -perm /022 -type d -exec chmod -R 755 '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238347
    #  find /lib /lib64 /usr/lib -perm /022 -type f -exec chmod 755 '{}' \;
    find /lib /usr/lib -perm /022 -type f -exec chmod 755 '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238346
    find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -group root -type d -exec chgrp root '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238338
    # chgrp syslog /var/log

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238339
    chown root /var/log

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238334
    # systemctl disable kdump.service

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238337
    find /var/log -perm /137 ! -name '*[bw]tmp' ! -name '*lastlog' -type f -exec chmod 640 '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238330
    useradd --defaults --inactive 35

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238332
    # find / -type d -perm -002 ! -perm -1000 -exec chmod +t '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238349
    #find /lib /usr/lib /lib64 ! -user root -type f -exec chown root '{}' \;
    find /lib /usr/lib ! -user root -type f -exec chown root '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238329
    passwd --lock root

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238348
    #find /lib /lib64 /usr/lib -perm /022 -type d -exec chmod 755 '{}' \;
    find /lib /usr/lib -perm /022 -type d -exec chmod 755 '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238325
    ensure_line /etc/login.defs ENCRYPT_METHOD SHA512

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238244
    ensure_line /etc/audit/auditd.conf "disk_full_action =" HALT

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238243
    ensure_line /etc/audit/auditd.conf "action_mail_acct =" root

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238245
    # chmod 0600 /var/log/audit/*

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238246
    # chown root /var/log/audit/*

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238247
    sed -i '/^log_group/D' /etc/audit/auditd.conf
    sed -i /^log_file/a'log_group = root' /etc/audit/auditd.conf

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238248
    chmod -R g-w,o-rwx /var/log/audit

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238249
    chmod -R 0640 /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238343
    #chmod 0640 /var/log/syslog

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238251
    chown :root /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238250
    chown root /etc/audit/audit*.{rules,conf} /etc/audit/rules.d/*

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238303
    cat <<EOF > "/etc/aide/aide.conf"
# Audit Tools
/sbin/auditctl p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/auditd p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/ausearch p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/aureport p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/autrace p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/audispd p+i+n+u+g+s+b+acl+xattrs+sha512
/sbin/augenrules p+i+n+u+g+s+b+acl+xattrs+sha512
EOF

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238376
    find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin -perm /022 -type f -exec chmod 755 '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238377
    find /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -user root -type f -exec chown root '{}' \;

    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238378
    find -L /bin /sbin /usr/bin /usr/sbin /usr/local/bin /usr/local/sbin ! -group root -type f ! -perm /2000 -exec chgrp root '{}' \;
}

main() {
    ensure_stig_compliance
}

main "${@}"
