#!/usr/bin/env bash
set -Eeuo pipefail

set -x

if [[ -f /etc/ssh/sshd_config ]]; then
    # https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238217
    if grep -q "^Ciphers" /etc/ssh/sshd_config; then
        sed -i 's/^\(Ciphers \).*/\1aes256-ctr,aes192-ctr,aes128-ctr/' /etc/ssh/sshd_config
    else
        echo 'Ciphers aes256-ctr,aes192-ctr,aes128-ctr' >> /etc/ssh/sshd_config
    fi
fi
