#!/usr/bin/env bash
set -Eeuo pipefail

set -x

ensure_line() {
    local file="${1}"; shift
    local property="${1}"; shift
    local parameters="${1}"; shift

    if [[ -f "$file" ]]; then
        if grep -q "^$property" "$file"; then
            sed -i "s/^\($property \).*/\1$parameters/" "$file"
        else
            echo "$property $parameters" >> "$file"
        fi
    fi

    grep "^$property" "$file"
}

# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238217
ensure_line /etc/ssh/sshd_config 'Ciphers' 'aes256-ctr,aes192-ctr,aes128-ctr'

# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238216
ensure_line /etc/ssh/sshd_config 'MACs' 'hmac-sha2-512,hmac-sha2-256'

# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238219
ensure_line /etc/ssh/sshd_config 'X11Forwarding' 'no'

# https://www.stigviewer.com/stig/canonical_ubuntu_20.04_lts/2023-09-08/finding/V-238218
ensure_line /etc/ssh/sshd_config 'PermitEmptyPasswords' 'no'
ensure_line /etc/ssh/sshd_config 'PermitUserEnvironment' 'no'
