#!/usr/bin/env bash
set -Eeuo pipefail

sed -i '/#listen_tls = 0/a listen_tls = 0' /etc/libvirt/libvirtd.conf
sed -i '/#ca_file = "\/etc\/pki\/CA\/cacert.pem"/a ca_file = ""' /etc/libvirt/libvirtd.conf
sed -i '/#key_file = "\/etc\/pki\/libvirt\/private\/serverkey.pem"/a key_file = ""' /etc/libvirt/libvirtd.conf
sed -i '/#cert_file = "\/etc\/pki\/libvirt\/servercert.pem"/a cert_file = ""' /etc/libvirt/libvirtd.conf