#!/usr/bin/env bash
# config change requested by gardener
sed -i 's/^\(node.session.scan\).*/\1 = manual/' /etc/iscsi/iscsid.conf
sed -i 's/^\(node.session.auth.chap_algs\).*/\1 = MD5/' /etc/iscsi/iscsid.conf
touch /var/lib/open-iscsi-configured0

# Delete unique InitiatorName from initiatorname.iscsi
sed -i '/^InitiatorName=/d' /etc/iscsi/initiatorname.iscsi
mv /etc/iscsi/initiatorname.iscsi /etc/iscsi/initiatorname.iscsi.template
