#!/usr/bin/env bash
# config change requested by gardener
# GL-SET-iscsi-config-iscsi-node-session-scan
sed -i 's/^\(node.session.scan\).*/\1 = manual/' /etc/iscsi/iscsid.conf
# GL-SET-iscsi-config-iscsi-node-session-auth-chap-algs
sed -i 's/^\(node.session.auth.chap_algs\).*/\1 = MD5/' /etc/iscsi/iscsid.conf
# GL-SET-iscsi-config-iscsi-open-iscsi-configured
touch /var/lib/open-iscsi-configured0

# Delete initiatorname.iscsi and let it generate dynamically
## GL-SET-iscsi-config-iscsi-initiatorname - test name defined elesewhere
rm /etc/iscsi/initiatorname.iscsi
