#!/usr/bin/env bash
set -Eeuo pipefail

SHORT_COMMIT="${BUILDER_COMMIT:0:8}"

cat << EOF > /builder/.build/"$BUILDER_CNAME"-"$SHORT_COMMIT".lima.yaml
os: Linux
images:
  - location: ./$BUILDER_CNAME-$SHORT_COMMIT.qcow2

containerd:
  system: false
  user: false
ssh:
  loadDotSSHPubKeys: true
  forwardAgent: true
mounts:
  - location: "~"
    writable: false
mountTypesUnsupported: [9p]
EOF