#!/usr/bin/env bash
set -Eeuo pipefail

cat << EOF > /builder/.build/"$BUILDER_CNAME"-"$BUILDER_COMMIT".lima.yaml
os: Linux
images:
  - location: ./$BUILDER_CNAME-$BUILDER_COMMIT.qcow2

containerd:
  system: false
  user: false
ssh:
  loadDotSSHPubKeys: true
  forwardAgent: true
mounts:
  - location: "~"
    writable: false
mountTypesUnsupported: [9p]
EOF



