#!/usr/bin/env bash
set -Eeuo pipefail


# https://github.com/gardenlinux/gardenlinux/issues/3581
# GnuTLS fails the selftest when set to FIPS mode.
echo "export GNUTLS_SKIP_FIPS_INTEGRITY_CHECKS=1" >> /etc/profile

# Setup the FIPS configration and link it into the /etc/ssl folder.
openssl fipsinstall -out /etc/ssl/fipsmodule.cnf -module /usr/lib/$(arch)-linux-gnu/ossl-modules/fips.so
ln -s /etc/ssl/fipsmodule.cnf /usr/lib/ssl/fipsmodule.cnf

# Set the pre-defined FIPS configuration section on in the /etc/ssk/openssl.cnf
sed -i \
    -e '51d' \
    -e '52i ##' \
    -e '52i ## https://www.openssl.org/docs/manmaster/man7/fips_module.html' \
    -e '52i ##' \
    -e '52i .include /etc/ssl/fipsmodule.cnf' \
    -e '54d' \
    -e '55i providers = provider_sect' \
    -e '55i alg_section = algorithm_sect' \
    -e '57d' \
    -e '58d' \
    -e '59i [provider_sect]' \
    -e '59i default = default_sect' \
    -e '59i \\n' \
    -e '61d' \
    -e '62i fips = fips_sect' \
    -e '71d' \
    -e '72d' \
    -e '73i [default_sect]' \
    -e '73i activate = 1' \
    -e '73i [algorithm_sect]' \
    -e '73i default_properties = fips=yes' \
    -e '73i \\n' \
    /etc/ssl/openssl.cnf

# https://github.com/gardenlinux/gardenlinux/issues/3626
# Disabled HTTPS for the apt mirror otherwise we can't keep using
# apt.
sed -i 's/https/http/' /etc/apt/sources.list.d/gardenlinux.sources
