#!/usr/bin/env bash
set -Eeuo pipefail


# We generate the configuration file
mkdir /usr/local/ssl/


# Wrtie the FIPS specify configuration file into the folder.
cat << EOF >  /usr/local/ssl/openssl.cnf
config_diagnostics = 1
openssl_conf = openssl_init

.include /usr/local/ssl/fipsmodule.cnf

[openssl_init]
providers = provider_sect

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1
EOF 




apt-get install openssl-provider-fips -y
