#!/usr/bin/env bash
set -Eeuo pipefail

# GL-TESTCOV-_fips-config-openssl-fipsinstall
# Setup the FIPS configuration and link it into the /etc/ssl folder.
# shellcheck disable=SC2046
openssl fipsinstall -out /etc/ssl/fipsmodule.cnf -module /usr/lib/$(arch)-linux-gnu/ossl-modules/fips.so
ln -s /etc/ssl/fipsmodule.cnf /usr/lib/ssl/fipsmodule.cnf

# GL-TESTCOV-_fips-config-openssl
# Set the pre-defined FIPS configuration section on in the /etc/ssl/openssl.cnf
# Inspired by: https://aikchar.dev/blog/add-fips-module-to-openssl-3011-on-debian-12-bookworm.html
sed -i \
    -e '51d' \
    -e '52i ##' \
    -e '52i ## https://www.openssl.org/docs/manmaster/man7/fips_module.html' \
    -e '52i ##' \
    -e '52i .include /etc/ssl/fipsmodule.cnf' \
    -e '54d' \
    -e '55i providers = provider_sect' \
    -e '55i alg_section = algorithm_sect' \
    -e '57d' \
    -e '58d' \
    -e '59i [provider_sect]' \
    -e '59i default = default_sect' \
    -e '59i \\n' \
    -e '61d' \
    -e '62i fips = fips_sect' \
    -e '71d' \
    -e '72d' \
    -e '73i [default_sect]' \
    -e '73i activate = 1' \
    -e '73i [algorithm_sect]' \
    -e '73i default_properties = fips=yes' \
    -e '73i \\n' \
    /etc/ssl/openssl.cnf

# We need to provide access for the group and world to read the configuration file, else we will
# have issues for users to get into the FIPS mode.
chmod go+r /etc/ssl/openssl.cnf

# GL-TESTCOV-_fips-config-openssh-sshd-KexAlgorithms
# GL-TESTCOV-_fips-config-openssh-sshd-Ciphers
# Enable FIPS KexAlgorithms and Ciphers for OpenSSH Server.
echo "KexAlgorithms ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256" >> /etc/ssh/sshd_config
echo "Ciphers aes256-gcm@openssh.com,aes256-ctr,aes128-gcm@openssh.com,aes128-ctr"  >> /etc/ssh/sshd_config

# GL-TESTCOV-_fips-config-kernel-hmac
#shellcheck disable=SC2012
KERNEL=$(ls /boot/vmlinuz-*|cut -d "-" -f2-4)
sha512hmac /boot/vmlinuz-"$KERNEL"  > /boot/.vmlinuz-"$KERNEL".hmac
sha512hmac -c /boot/.vmlinuz-"$KERNEL".hmac



# GnuTLS
# We have an issue that the lib's are different at times in the build environment and we have to
# re-compute the hmac manually to ensure consistency.
rm "/usr/lib/$(uname -m)-linux-gnu/.libgnutls.so.30.hmac"
# shellcheck disable=SC2046
cat <<EOF > "/usr/lib/$(uname -m)-linux-gnu/.libgnutls.so.30.hmac"
[global]
format-version = 1
[libgnutls.so.30]
path = $(dpkg -L libgnutls30t64 |grep libgnutls.so |tail -n1)
hmac =$(cat $(dpkg -L libgnutls30t64 |grep libgnutls.so |tail -n1) | openssl dgst -sha256 -hmac orboDeJITITejsirpADONivirpUkvarP |cut -d '=' -f2)
[libhogweed.so.6]
path = $(dpkg -L libhogweed6t64 | grep 'libhogweed.so' |head -n1)
hmac =$(cat $(dpkg -L libhogweed6t64 | grep 'libhogweed.so' |head -n1) | openssl dgst -sha256 -hmac orboDeJITITejsirpADONivirpUkvarP |cut -d '=' -f2)
[libnettle.so.8]
path = $(dpkg -L libnettle8t64 |grep libnettle.so|head -n1)
hmac =$(cat $(dpkg -L libnettle8t64 |grep libnettle.so|head -n1) | openssl dgst -sha256 -hmac orboDeJITITejsirpADONivirpUkvarP |cut -d '=' -f2)
[libgmp.so.10]
path = $(dpkg -L libgmp10 |grep libgmp.so |head -n1)
hmac =$(cat $(dpkg -L libgmp10 |grep libgmp.so |head -n1)| openssl dgst -sha256 -hmac orboDeJITITejsirpADONivirpUkvarP |cut -d '=' -f2)
EOF
