#!/usr/bin/env bash

#Symlink the 14-cis.rules in features/log
#ln -sfT file.include/etc/audit/rules.d/14-cis.rules.SYMLINK /etc/audit/rules.d/14-cis.rules
# 3.1: Halt when Audit log is full
sed -i -e '/space_left_action =/ s/= .*/= email/' /etc/audit/auditd.conf
sed -i -e '/admin_space_left_action =/ s/= .*/= halt/' /etc/audit/auditd.conf

# 3.2: Keep all audit logs
echo "max_log_file_action = keep_logs" >> /etc/audit/auditd.conf

