#!/usr/bin/env bash

# GL-TESTCOV-cisAudit-config-audit-space-left-action
sed -i -e '/space_left_action =/ s/= .*/= email/' /etc/audit/auditd.conf

# GL-TESTCOV-cisAudit-config-audit-admin-space-left-action
sed -i -e '/admin_space_left_action =/ s/= .*/= halt/' /etc/audit/auditd.conf

# GL-TESTCOV-cisAudit-config-audit-max-log-file-action
echo "max_log_file_action = keep_logs" >>/etc/audit/auditd.conf
