apt-mark hold linux-image-amd64

systemctl enable haveged
systemctl enable ipmievd
systemctl enable irqbalance

for kernel in /boot/vmlinuz-*; do 
   dracut -f /boot/initrd.img-${kernel#*-} ${kernel#*-} -m "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd gardenlinux base fs-lib shutdown" --reproducible
   /usr/bin/kernel-install add "${kernel#*-}" "${kernel}" "/boot/initrd.img-${kernel#*-}"
done

# bootloader
mkdir /boot/efi/syslinux
cp /usr/lib/syslinux/modules/bios/menu.c32 /boot/efi/syslinux/ 
cp /usr/lib/syslinux/modules/bios/libutil.c32 /boot/efi/syslinux/ 
rm -f /boot/efi/Default/blank

update-syslinux
