#!/usr/bin/env bash
set -Eeuo pipefail

systemctl enable ipmievd

update-kernel-cmdline

mkdir -p /boot/efi/Default

for kernel in /boot/vmlinuz-*; do
   dracut\
   --force\
   --kver "${kernel#*-}"\
   --modules "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd base fs-lib shutdown"\
   --reproducible\
   "/boot/initrd.img-${kernel#*-}"

   kernel-install add "${kernel#*-}" "${kernel}"
done

sed 's/boot\/efi\///' -i /boot/efi/loader/entries/*.conf

if [ -f "/usr/bin/syslinux" ]; then
   # bootloader
   mkdir -p /boot/efi/syslinux
   cp /usr/lib/syslinux/modules/bios/menu.c32 /boot/efi/syslinux/
   cp /usr/lib/syslinux/modules/bios/libutil.c32 /boot/efi/syslinux/

   update-syslinux
fi
