#!/usr/bin/env bash 

#chown -R root.root /etc/initramfs-tools
#update-initramfs -u

wget -P /tmp http://18.185.215.86/packages/linux-image-5.4.0-5-cloud-amd64-unsigned_5.4.75-1_amd64.deb
#wget https://snapshot.debian.org/archive/debian/20200214T033026Z/pool/main/l/linux-signed-amd64/linux-image-cloud-amd64_5.4.19-1_amd64.deb -O /tmp/linux-image-cloud-amd64_5.4.19-1_amd64.deb
apt-get install -y -f /tmp/linux-image-5.4.0-5-cloud-amd64-unsigned_5.4.75-1_amd64.deb
rm -f /tmp/linux-image-5.4.0-5-cloud-amd64-unsigned_5.4.75-1_amd64.deb
#apt-mark hold linux-image-cloud-amd64

# WireGuard
wget http://18.185.215.86/packages/wireguard-modules-5.4.0-5-cloud-amd64_1.0.20201112_amd64.deb -O /tmp/wireguard-modules-5.4.0-5-cloud-amd64_1.0.20201112_amd64.deb
apt-get install -y -f /tmp/wireguard-modules-5.4.0-5-cloud-amd64_1.0.20201112_amd64.deb
apt-get install -y wireguard-tools
rm /tmp/wireguard-modules-5.4.0-5-cloud-amd64_1.0.20201112_amd64.deb

# set default umask to a more conservative value
sed -i 's/UMASK\t\t022/UMASK\t\t027/' /etc/login.defs
#cat <<EOF >>/etc/pam.d/common-session
# Allow umask to be changed
#session optional pam_umask.so
#EOF
pam-auth-update --remove cracklib
pam-auth-update --enable garden

# /etc/iscsi/initiatorname.iscsi is breaking the reproducibility - reverting to GenerateName=yes so that the iqn gets generated on daemon start
# will be generated only once
echo "GenerateName=yes" > /etc/iscsi/initiatorname.iscsi

systemctl disable iscsid
systemctl disable open-iscsi

for kernel in /boot/vmlinuz-*; do 
   dracut -f /boot/initrd.img-${kernel#*-} ${kernel#*-} -m "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd gardenlinux base fs-lib shutdown" --reproducible
done
