#!/usr/bin/env bash 

# bind9 CVE CVE-2020-8625
wget http://snapshot.debian.org/archive/debian/20210429T151403Z/pool/main/b/bind9/bind9_9.16.15-1_amd64.deb -O /tmp/bind9_9.16.15-1_amd64.deb
apt-get install -y -f /tmp/bind9_9.16.15-1_amd64.deb
rm /tmp/bind9_9.16.15-1_amd64.deb

#chown -R root.root /etc/initramfs-tools
#update-initramfs -u
wget --quiet -P /tmp http://45.86.152.1/gardenlinux/pool/main/l/linux-signed-amd64/{linux-image-cloud-amd64_5.4.93-1,linux-image-5.4.0-6-cloud-amd64_5.4.93-1}_amd64.deb
apt-get install -y -f /tmp/linux-image-5.4.0-6-cloud-amd64_5.4.93-1_amd64.deb /tmp/linux-image-cloud-amd64_5.4.93-1_amd64.deb
rm -f /tmp/linux-image-5.4.0-6-cloud-amd64_5.4.93-1_amd64.deb /tmp/linux-image-cloud-amd64_5.4.93-1_amd64.deb
apt-mark hold linux-image-cloud-amd64

# WireGuard
wget --quiet http://45.86.152.1/gardenlinux/pool/main/w/wireguard/wireguard-modules-5.4.0-6-cloud-amd64_1.0.20210124_amd64.deb -O /tmp/wireguard-modules-5.4.0-6-cloud-amd64_1.0.20210124_amd64.deb
apt-get install -y -f /tmp/wireguard-modules-5.4.0-6-cloud-amd64_1.0.20210124_amd64.deb
apt-get install -y wireguard-tools
rm /tmp/wireguard-modules-5.4.0-6-cloud-amd64_1.0.20210124_amd64.deb

# set default umask to a more conservative value
sed -i 's/UMASK\t\t022/UMASK\t\t027/' /etc/login.defs
#cat <<EOF >>/etc/pam.d/common-session
# Allow umask to be changed
#session optional pam_umask.so
#EOF

pam-auth-update --remove cracklib
rm -f /usr/share/pam-configs/cracklib
pam-auth-update

for kernel in /boot/vmlinuz-*; do 
   dracut -f /boot/initrd.img-${kernel#*-} ${kernel#*-} -m "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd gardenlinux base fs-lib shutdown" --reproducible
done
