#!/usr/bin/env bash
set -Eeuo pipefail

# 1. trigger the conf files of cis-hardening
/opt/cis-hardening/bin/hardening.sh --create-config-files-only --allow-unsupported-distribution &>/dev/null

# 2. Disable the checks not needed/taken care alternately
CONFIGS=(
  restrict_fat.cfg
  logs_permissions.cfg
  var_partition.cfg
  var_nodev.cfg
  var_nosuid.cfg
  var_tmp_noexec.cfg
  var_tmp_partition.cfg
  var_tmp_nodev.cfg
  var_tmp_nosuid.cfg
  var_log_noexec.cfg
  var_log_nosuid.cfg
  var_log_nodev.cfg
  var_log_partition.cfg
  var_log_audit_noexec.cfg
  var_log_audit_nosuid.cfg
  var_log_audit_nodev.cfg
  var_log_audit_partition.cfg
  home_partition.cfg
  home_nosuid.cfg
  home_nodev.cfg
  install_tripwire.cfg
  tripwire_cron.cfg
  logfile_sudo.cfg
  bootloader_ownership.cfg
  bootloader_password.cfg
  enable_nx_support.cfg
  install_apparmor.cfg
  enable_apparmor.cfg
  enforce_or_complain_apparmor.cfg
  enforcing_apparmor.cfg
  configure_chrony.cfg
  configure_ntp.cfg
  disable_ipv6.cfg
  audit_bootloader.cfg
  audit_backlog_limit.cfg
  install_syslog-ng.cfg
  enable_syslog-ng.cfg
  configure_syslog-ng.cfg
  syslog_ng_logfiles_perm.cfg
  syslog-ng_remote_host.cfg
  remote_syslog-ng_acl.cfg
  enable_cron.cfg
  disable_ipv6_router_advertisement.cfg
  disable_ip_forwarding.cfg
  disable_source_routed_packets.cfg
  check_distribution.cfg
  run_shm_nodev.cfg
  run_shm_noexec.cfg
)

# GL-SET-cis-config-file-hardening-disabled
for cfg in "${CONFIGS[@]}"; do
  sed -i 's|audit|disabled|' "/opt/cis-hardening/etc/conf.d/$cfg"
done

# 3. Add exceptions to the suid and sgid marked daemons
declare -A EXCEPTIONS_MAP=(
  [find_suid_files.cfg]="/usr/lib/dbus-1.0/dbus-daemon-launch-helper /usr/lib/polkit-1/polkit-agent-helper-1 /usr/bin/mailq /usr/sbin/nullmailer-queue"
  [find_sgid_files.cfg]="/usr/libexec/systemd-cron/crontab_setgid"
)

# GL-SET-cis-config-file-hardening-exceptions
for cfg in "${!EXCEPTIONS_MAP[@]}"; do
  sed -i "s|^EXCEPTIONS=\"\(.*\)\"$|EXCEPTIONS=\"\1 ${EXCEPTIONS_MAP[$cfg]}\"|" \
    "/opt/cis-hardening/etc/conf.d/$cfg"
done

# 4. Logrotate permissions
# GL-SET-cis-config-file-logrotate-permissions
sed -i 's|create|create 0640 root root|' /etc/logrotate.conf
