#!/usr/bin/env bash
set -Eeuo pipefail

# Add contrib non-free
echo "deb http://deb.debian.org/debian testing main contrib non-free" >> /etc/apt/sources.list
apt-get update

# Install needed packages for CIS
DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends git tripwire syslog-ng libpam-pwquality tcpd

# Add Garden Linux CIS firewall
ln -s /etc/systemd/system/gardenlinux-fw-ipv4.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv4.service
ln -s /etc/systemd/system/gardenlinux-fw-ipv6.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv6.service

# 1.3.3: Define log file for sudo:
echo "Defaults logfile=/var/log/sudo.log" >> /etc/sudoers

# 1.4.2: Add Tripwire to crontab file
echo "0 10 * * * root /usr/sbin/tripwire --check > /dev/shm/tripwire_check 2>&1" >> /etc/crontab

# 1.6.4: Restrict core dumps
echo "* hard core 0" >> /etc/security/limits.conf
echo "* soft core 0" >> /etc/security/limits.conf
echo "fs.suid_dumpable=0" >> /etc/sysctl.conf

# 3.2.2: Disable IP forwarding
echo "net.ipv4.ip_forward=0" >> /etc/sysctl.conf

# 3.3.2: Disable ICMP redirects
echo "net.ipv4.conf.all.accept_redirects=0" >> /etc/sysctl.conf
echo "net.ipv4.conf.default.accept_redirects=0" >> /etc/sysctl.conf
echo "net.ipv6.conf.all.accept_redirects=0" >> /etc/sysctl.conf
echo "net.ipv6.conf.default.accept_redirects=0" >> /etc/sysctl.conf

# 3.3.3: Disable secure ICMP
echo "net.ipv4.conf.all.secure_redirects=0" >> /etc/sysctl.conf
echo "net.ipv4.conf.default.secure_redirects=0" >> /etc/sysctl.conf

# 3.3.4: Log martian packets
echo "net.ipv4.conf.all.log_martians=1" >> /etc/sysctl.conf
echo "net.ipv4.conf.default.log_martians=1" >> /etc/sysctl.conf

# 3.3.7: Enable source route
echo "net.ipv4.conf.all.rp_filter=1" >> /etc/sysctl.conf
echo "net.ipv4.conf.default.rp_filter=1" >> /etc/sysctl.conf

# 4.1.3: Record date/time changes
echo "-a always,exit -F arch=b64 -S adjtimex -S settimeofday -k time-change" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S stime -k time-change" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b64 -S clock_settime -k time-change" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S clock_settime -k time-change" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/localtime -p wa -k time-change" >> /etc/audit/rules.d/audit.rules

# 4.1.4: Record user/group changes
echo "-w /etc/group -p wa -k identity" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/passwd -p wa -k identity" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/gshadow -p wa -k identity" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/shadow -p wa -k identity" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/security/opasswd -p wa -k identity" >> /etc/audit/rules.d/audit.rules

# 4.1.5: Record changes according to network
echo "-a exit,always -F arch=b64 -S sethostname -S setdomainname -k system-locale" >> /etc/audit/rules.d/audit.rules
echo "-a exit,always -F arch=b32 -S sethostname -S setdomainname -k system-locale" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/issue -p wa -k system-locale" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/issue.net -p wa -k system-locale" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/hosts -p wa -k system-locale" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/network -p wa -k system-locale" >> /etc/audit/rules.d/audit.rules

# 4.1.6: Record MAC Policy
echo "-w /etc/selinux/ -p wa -k MAC-policy" >> /etc/audit/rules.d/audit.rules

# 4.1.7: Record login and logout
echo "-w /var/log/faillog -p wa -k logins" >> /etc/audit/rules.d/audit.rules
echo "-w /var/log/lastlog -p wa -k logins" >> /etc/audit/rules.d/audit.rules
echo "-w /var/log/tallylog -p wa -k logins" >> /etc/audit/rules.d/audit.rules

# 4.1.8: Record session init
echo "-w /var/run/utmp -p wa -k session" >> /etc/audit/rules.d/audit.rules
echo "-w /var/log/wtmp -p wa -k session" >> /etc/audit/rules.d/audit.rules
echo "-w /var/log/btmp -p wa -k session" >> /etc/audit/rules.d/audit.rules

# 4.1.9: Record DAC edits
echo "-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod is" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S chmod -S fchmod -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S chown -S fchown -S fchownat -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b64 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S setxattr -S lsetxattr -S fsetxattr -S removexattr -S lremovexattr -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod" >> /etc/audit/rules.d/audit.rules

# 4.1.10: Record failed acces file
echo "-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b64 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S creat -S open -S openat -S truncate -S ftruncate -F exit=-EPERM -F auid>=1000 -F auid!=4294967295 -k access" >> /etc/audit/rules.d/audit.rules

# 4.1.12: Record sucessful mounts
echo "-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S mount -F auid>=1000 -F auid!=4294967295 -k mounts" >> /etc/audit/rules.d/audit.rules

# 4.1.13: Record file deletions
echo "-a always,exit -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F auid>=1000 -F auid!=4294967295 -k delete" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b32 -S unlink -S unlinkat -S rename -S renameat -F auid>=1000 -F auid!=4294967295 -k delete" >> /etc/audit/rules.d/audit.rules

# 4.1.14: Record sudo edits
echo "-w /etc/sudoers -p wa -k sudoers" >> /etc/audit/rules.d/audit.rules
echo "-w /etc/sudoers.d/ -p wa -k sudoers" >> /etc/audit/rules.d/audit.rules

# 4.1.15: Record sudo usage
echo "-w /var/log/auth.log -p wa -k sudoaction" >> /etc/audit/rules.d/audit.rules

# 4.1.16: Record kernel modules
echo "-w /sbin/insmod -p x -k modules" >> /etc/audit/rules.d/audit.rules
echo "-w /sbin/rmmod -p x -k modules" >> /etc/audit/rules.d/audit.rules
echo "-w /sbin/modprobe -p x -k modules" >> /etc/audit/rules.d/audit.rules
echo "-a always,exit -F arch=b64 -S init_module -S delete_module -k modules" >> /etc/audit/rules.d/audit.rules

# 4.1.17: Freeze audit config
echo "-e 2" >> /etc/audit/rules.d/audit.rules

# 4.1.2.2: Halt when Audit log is full
sed -i -e '/space_left_action =/ s/= .*/= email/' /etc/audit/auditd.conf
#sed -i -e '/admin_space_left_action =/ s/= .*/= halt/' /etc/audit/auditd.conf

# 4.1.2.3: Keep all audit logs
echo "max_log_file_action = keep_logs" >> /etc/audit/auditd.conf

# 4.2.2.4: Journal log storage persistent
echo "Storage=persistent" >> /etc/systemd/journald.conf

# 4.2.3: Define log file permissions
chmod 640 /var/log/btmp
touch /var/log/sysstat/sa12
chmod 640 /var/log/sysstat/sa12
touch /var/log/sudo.log
chmod 640 /var/log/sudo.log
chmod 640 /var/log/lastlog
chmod 640 /var/log/wtmp

# 4.4: Logrotate permissions
chmod 640 /etc/logrotate.conf

# 5.1.2: Define crontab permissions
chmod 600 /etc/crontab

# 5.1.3: Define cron_hourly permissions
chmod 700 /etc/cron.hourly

# 5.1.4: Define cron_daily permissions
chmod 700 /etc/cron.daily

# 5.1.5: Define cron_weekly permissions
chmod 700 /etc/cron.weekly

# 5.1.6: Define cron_monthly permissions
chmod 700 /etc/cron.monthly

# 5.1.7: Define cron_d_perm ownership
chmod 700 /etc/cron.d

# 5.1.8: Define cron_users ownership and permissions
touch /etc/cron.allow
touch /etc/at.allow
chmod 644 /etc/cron.allow
chmod 644 /etc/at.allow

# 5.2.1: Define sshd conf permission
chmod 600 /etc/ssh/sshd_config

# 5.3.1: Enable pwquality
echo "minlen = 14" >> /etc/security/pwquality.conf
echo "dcredit = -1" >> /etc/security/pwquality.conf
echo "ucredit = -1" >> /etc/security/pwquality.conf
echo "ocredit = -1" >> /etc/security/pwquality.conf
echo "lcredit = -1" >> /etc/security/pwquality.conf

# 5.4.4: Define default umask
echo "umask 077" >> /etc/bash.bashrc
echo "umask 077" >> /etc/profile

# 5.4.1.1: Define password expire
echo "PASS_MAX_DAYS 90" >> /etc/login.defs

# 5.4.1.2: Define password min days
echo "PASS_MIN_DAYS 7" >> /etc/login.defs

# 5.6: Restrict su
echo "auth	required	pam_wheel.so" >> /etc/pam.d/su

# 6.2.8: Check user directory permissions
# We will only set permissions on /home/dev as whitelisted
if [ -d /home/dev ]; then
  chmod 750 /home/dev
fi

# 99.1.1.23: Disable USB dev
echo 'ACTION=="add", SUBSYSTEMS=="usb", TEST=="authorized_default", ATTR{authorized_default}="0"' >> /etc/udev/rules.d/10-CIS_99.2_usb_devices.sh
echo 'ACTION=="add", ATTR{bDeviceClass}=="09", TEST=="authorized", ATTR{authorized}="1"' >> /etc/udev/rules.d/10-CIS_99.2_usb_devices.shecho 'ACTION=="add", ATTR{product}=="*[Kk]eyboard*", TEST=="authorized", ATTR{authorized}="1"' >> /etc/udev/rules.d/10-CIS_99.2_usb_devices.sh
echo 'ACTION=="add", ATTR{product}=="*Thinnet TM*", TEST=="authorized", ATTR{authorized}="1"' >> /etc/udev/rules.d/10-CIS_99.2_usb_devices.sh

# 99.3.3.3: Deny all hosts
echo "ALL: 127.0.0.1,localhost" >> /etc/hosts.allow
echo "ALL: ALL" >> /etc/hosts.deny
