#!/usr/bin/env bash
set -Eeuo pipefail

# rebuild the initramfs
for kernel in /boot/vmlinuz-*; do 
   dracut -f /boot/initrd.img-${kernel#*-} ${kernel#*-} -m "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd fs-lib shutdown systemd-networkd systemd-resolved gardenlinux-live ignition" -o "gardenlinux" --reproducible
done

#apt-get autoremove --purge -y grub-cloud-amd64

exit 0
