#!/usr/bin/env bash

set -e

#wget -P /tmp http://45.86.152.1/gardenlinux/pool/main/d/dracut/dracut-core_051-1.1_amd64.deb \
#             http://45.86.152.1/gardenlinux/pool/main/d/dracut/dracut_051-1.1_all.deb \
#             http://45.86.152.1/gardenlinux/pool/main/d/dracut/dracut-network_051-1.1_all.deb
wget -P /tmp http://45.86.152.1/gardenlinux/pxe/dracut-core_051-1.1_amd64.deb \
             http://45.86.152.1/gardenlinux/pxe/dracut_051-1.1_all.deb \
             http://45.86.152.1/gardenlinux/pxe/dracut-network_051-1.1_all.deb
wget -nv -P /tmp http://45.86.152.1/gardenlinux/pxe/ignition-2.9.0.tar.gz

apt-get install -y --allow-downgrades -f /tmp/*.deb

cd /tmp
tar pzxf /tmp/ignition-2.9.0.tar.gz -C /

# cleanup
rm -rf /tmp/ignition*
rm -f /tmp/*.sh
rm -f /tmp/*.deb

# make sure network is online before trying to fetch the ignition config
sed 's/After=ignition-fetch-offline.service/After=ignition-fetch-offline.service network-online.target/' -i /usr/lib/dracut/modules.d/30ignition/module-setup.sh

# rebuild the initramfs
for kernel in /boot/vmlinuz-*; do 
   dracut -f /boot/initrd.img-${kernel#*-} ${kernel#*-} -m "bash dash systemd systemd-initrd kernel-modules kernel-modules-extra terminfo udev-rules dracut-systemd fs-lib shutdown systemd-networkd gardenlinux-live ignition" -o "gardenlinux" --reproducible
done

exit 0
