sed -i "s/^#NTP=/NTP=metadata.google.internal/g" /etc/systemd/timesyncd.conf
ln -sf /usr/share/zoneinfo/UTC /etc/localtime

# cannot execute startup script in /tmp, usr /var/tmp instead
sed -i 's/^run_dir =\s*/run_dir = \/var\/tmp/g' /etc/default/instance_configs.cfg

cat >>/etc/ssh/sshd_conf <<EOF

# Needed for google oslogin
AuthorizedKeysCommand /usr/libexec/google_authorized_keys
AuthorizedKeysCommandUser root
EOF
