sed -i "s/^ListenStream=\/var\/run\/docker.sock/ListenStream=\/run\/docker.sock/g" /lib/systemd/system/docker.socket
sed -i "s/^#NTP=/NTP=metadata.google.internal/g" /etc/systemd/timesyncd.conf
ln -sf /usr/share/zoneinfo/UTC /etc/localtime

cat >>/etc/ssh/sshd_conf <<EOF

# Needed for google oslogin
AuthorizedKeysCommand /usr/libexec/google_authorized_keys
AuthorizedKeysCommandUser root
EOF
