#!/usr/bin/env bash
set -Eeuo pipefail

# set default timezone
# GL-TESTCOV-gcp-config-timezone-utc
ln -sf /usr/share/zoneinfo/UTC /etc/localtime

# cannot execute startup script in /tmp, usr /var/tmp instead
# GL-TESTCOV-gcp-config-instance-configs-run-dir
sed -i 's/^run_dir =\s*/run_dir = \/var\/tmp/g' /etc/default/instance_configs.cfg

# GL-TESTCOV-gcp-config-ssh-sshd-config-google-oslogin
cat >>/etc/ssh/sshd_conf <<EOF

# Needed for google oslogin
AuthorizedKeysCommand /usr/libexec/google_authorized_keys
AuthorizedKeysCommandUser root
EOF

# GL-TESTCOV-gcp-service-google-guest-agent-manager-mask
systemctl mask google-guest-agent-manager.service
