#!/bin/bash

set -Eeuo pipefail

mkdir -p /var/lib/containers /var/tmp
systemctl enable var-lib-containers.mount
systemctl enable var-tmp.mount

cat << EOF > /etc/containers/registries.conf
unqualified-search-registries = ["docker.io"]

[[registry]]
prefix = "docker.io"
insecure = false
location = "docker.io"
EOF

systemctl enable configure_from_aws_user_data.service

groupadd github_action_runner
useradd --system --gid github_action_runner --groups wheel --shell /bin/false github_action_runner

mkdir -p /opt/github_action_runner
cd /opt/github_action_runner

version="$(basename "$(curl -s -f --head "https://github.com/actions/runner/releases/latest" | grep -oiP '(?<=location: ).*' | tr -d '\r')")"
curl -s -f -L "https://github.com/actions/runner/releases/download/$version/actions-runner-linux-$([ "$arch" = amd64 ] && echo x64 || echo "$arch")-${version:1}.tar.gz" | gzip -d | tar -x

chown -R github_action_runner:github_action_runner /opt/github_action_runner

# Issue 1463
# Mark some packages as manual installed so that the orphaned test
# is not complaining.
apt-mark manual \
  containernetworking-plugins
