# general
test_prefix      = "gl-test"
#image_path   = "s3://gardenlinux-github-releases/objects/gcp-gardener_prod-amd64-1592.1-ec945aa9"
image_path   = "file:///gardenlinux/.build"
ssh_public_key = "~/.ssh/id_ed25519.pub"
#arch           = "amd64"
arch           = "arm64"
# ALI
# ali_enabled = false
ali_region     = "eu-central-1"
ali_image_file = "ali-gardener_prod-amd64-today-local.qcow2"
# AWS
# aws_enabled = false
aws_region         = "eu-central-1"
#aws_image_file   = "aws-gardener_prod-amd64-1592.2-76203a30.raw"
aws_image_file   = "aws-gardener_prod-arm64-1592.2-76203a30.raw"
#aws_instance_type = "t3.micro"   # amd64
aws_instance_type = "m6g.medium" # arm64
# Azure
# azure_enabled = false
azure_subscription_id = "0000000-0000-00000-000000"
azure_region         = "westeurope"
#azure_image_file   = "azure-gardener_prod-amd64-1592.2-76203a30.vhd"
azure_image_file   = "azure-gardener_prod-arm64-1592.2-76203a30.vhd"
#azure_instance_type = "Standard_D4_v4"   # amd64
azure_instance_type = "Standard_D4ps_v5" # arm64
# GCP
# gcp_enabled = false
gcp_project_id     = "your-gcp-project"
gcp_region         = "europe-west4"
gcp_region_storage = "europe-west4"
#gcp_image_file   = "gcp-gardener_prod-amd64-1592.2-76203a30.gcpimage.tar.gz"
gcp_image_file   = "gcp-gardener_prod-arm64-1592.2-76203a30.gcpimage.tar.gz"
#gcp_instance_type = "n1-standard-2" # amd64
gcp_instance_type = "t2a-standard-2" # arm64
