aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-ecs==4.24.13
azure-identity==1.6.0
azure-mgmt-compute~=22.1.0
azure-mgmt-storage~=18.0.0
azure-storage-blob~=12.3.0
boto3
dacite==1.6.0
google-api-python-client
google-auth
google-cloud-storage
msal<2.0.0
msrestazure~=0.6.4
oss2==2.12.1
openstacksdk==0.50.0
pyyaml
requests
