#!/usr/bin/env bash
set -Eeuo pipefail

# growpart is done in initramfs, growroot by systemd
# GL-SET-openstackbaremetal-config-cloud-no-growpart
# GL-SET-openstackbaremetal-config-cloud-no-resizefs
# GL-SET-openstackbaremetal-config-cloud-no-ntp
mv /etc/cloud/cloud.cfg /etc/cloud/cloud.cfg.bak
grep -v "^ - growpart$" /etc/cloud/cloud.cfg.bak | grep -v "^ - resizefs$" | grep -v "^ - ntp$" >/etc/cloud/cloud.cfg
rm /etc/cloud/cloud.cfg.bak

cat >>/etc/os-release <<EOF
GARDENLINUX_PLATFORM_VARIANT=baremetal
EOF
