#!/usr/bin/env bash
 set -Eeuo pipefail

# Add and enable Garden Linux CIS firewall
ln -s /etc/systemd/system/gardenlinux-fw-ipv4.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv4.service
ln -s /etc/systemd/system/gardenlinux-fw-ipv6.service /etc/systemd/system/multi-user.target.wants/gardenlinux-fw-ipv6.service

# CIS: 99.3.3.3: Deny all hosts
echo "ALL: 127.0.0.1,localhost" >> /etc/hosts.allow
echo "ALL: ALL" >> /etc/hosts.deny
