#!/usr/bin/env bash
set -Eeuo pipefail

# disable cloud-init network configuration
echo -e "network:\n  config: disabled\n" >> /etc/cloud/cloud.cfg.d/00_azure.cfg

# re-enable ssh-rsa as PubkeyAcceptedAlgorithms in sshd so we can pass Azure Marketplace certification
cat << '__EOF' >> /etc/ssh/sshd_config
# Add ssh-rsa to PubkeyAcceptedAlgorithms to pass Azure Marketplace certification which is 
# incompatible to the changes introduced in OpenSSH 8.8
PubkeyAcceptedAlgorithms +ssh-rsa
__EOF
