[Unit]
After=network-online.target

[Service]
User=github_action_runner
Group=github_action_runner
ExecStart=/usr/bin/github_action_runner_aws_scheduler -c /etc/github_action_scheduler.conf
Restart=always

[Install]
WantedBy=multi-user.target
