#!/usr/bin/env bash
set -Eeuo pipefail
set -x

systemctl enable ssh-keygen
chmod 0440 /etc/sudoers.d/wheel /etc/sudoers.d/keepssh

# sshguard specific things
mkdir /etc/systemd/system/sshguard.service.d
if dpkg -l | awk '{print $2}' | grep nftables > /dev/null; then
	cat <<-END > /etc/systemd/system/sshguard.service.d/override.conf
	[Unit]
	Requires=nftables.service
	PartOf=nftables.service
	[Install]
	WantedBy=multi-user.target nftables.service
END
exit 0
fi

# we don't have nftables, we use iptables
cat <<END > /etc/systemd/system/sshguard.service.d/override.conf
[Service]
ExecStartPre=
ExecStopPost=
ExecStartPre=-/sbin/iptables -N sshguard
ExecStartPre=-/sbin/ip6tables -N sshguard
ExecStopPost=-/sbin/iptables -X sshguard
ExecStopPost=-/sbin/ip6tables -X sshguard
END

# modify config file to use proper backend
new_conf=$(sed 's|/usr/libexec/sshguard/sshg-fw-nft-sets|/usr/libexec/sshguard/sshg-fw-iptables|' /etc/sshguard/sshguard.conf)
cat > /etc/sshguard/sshguard.conf <<< "$new_conf"
