#!/usr/bin/env bash
set -Eeuo pipefail

systemctl enable ssh-keygen
chmod 0440 /etc/sudoers.d/wheel /etc/sudoers.d/keepssh

# sshguard specific things
mkdir /etc/systemd/system/sshguard.service.d
if dpkg -l | awk '{print $2}' | grep nftables > /dev/null; then
	echo detected nftables, configuring sshguard to use it
	cat <<-END > /etc/systemd/system/sshguard.service.d/override.conf
	[Unit]
	Requires=nftables.service
	PartOf=nftables.service
	[Install]
	WantedBy=multi-user.target nftables.service
END
elif dpkg -l | awk '{print $2}' | grep iptables > /dev/null; then
	# we don't have nftables, we use iptables
	echo detected iptables, configuring sshguard to use it
	cat <<END > /etc/systemd/system/sshguard.service.d/override.conf
	[Service]
	ExecStartPre=
	ExecStopPost=
	ExecStartPre=-/sbin/iptables -N sshguard
	ExecStartPre=-/sbin/ip6tables -N sshguard
	ExecStopPost=-/sbin/iptables -X sshguard
	ExecStopPost=-/sbin/ip6tables -X sshguard
END

	# modify config file to use proper backend
	new_conf=$(sed 's|/usr/libexec/sshguard/sshg-fw-nft-sets|/usr/libexec/sshguard/sshg-fw-iptables|' /etc/sshguard/sshguard.conf)
	cat > /etc/sshguard/sshguard.conf <<< "$new_conf"
else
	echo neither detected nftables nor iptables, disabling sshguard
	# TODO: for the time being keep these here as it's more obvious, but they should be moved to file.include
	mkdir -p /etc/systemd/system-preset
	echo "disable sshguard.service" > /etc/systemd/system-preset/00-sshguard-disable.preset
	systemctl preset sshguard.service
	systemctl mask sshguard
fi
