#!/usr/bin/env bash

set -eufo pipefail

cp -P /usr/lib/systemd/system/default.target /etc/systemd/system/post-reload.target
ln -s reload.target /etc/systemd/system/default.target
mv /etc/systemd/system/default.target.wants /etc/systemd/system/post-reload.target.wants

systemctl enable systemd-bless-boot.service
systemctl enable var.mount
systemctl enable etc-overlay.service

update-kernel-cmdline

mkdir -p /efi

# Test for the systemd-pcrphase in case dracut changes it mind. #2108
[ -e /usr/lib/systemd/systemd-pcrphase ] || ln -s systemd-pcrextend /usr/lib/systemd/systemd-pcrphase
