#!/usr/bin/env bash

set -eufo pipefail

systemctl mask systemd-bless-boot.service
systemctl enable var.mount
systemctl enable dev-mapper-swap.swap
systemctl enable resize-var-tmpfs.service
systemctl enable setup-writable.service

sed -i 's|^HostKey /etc/ssh/|HostKey /var/lib/ssh/|' /etc/ssh/sshd_config

update-kernel-cmdline

mkdir -p /efi

mkdir /etc/passwd.d
for i in passwd shadow group gshadow; do
	mv "/etc/$i" "/etc/passwd.d/$i"
	ln -s "passwd.d/$i" "/etc/$i"
done

[ ! -L /etc/default/locale ] || rm /etc/default/locale
ln -s ../locale.conf /etc/default/locale

# Test for the systemd-pcrphase in case dracut changes it mind. #2108
[ -e /usr/lib/systemd/systemd-pcrphase ] || ln -s systemd-pcrextend /usr/lib/systemd/systemd-pcrphase
