#!/usr/bin/env bash

set -eufo pipefail

esp_dir="$1"
rootfs="$2"

cat > "$esp_dir/loader/loader.conf" << EOF
timeout 0
secure-boot-enroll force
EOF

mkdir -p "$esp_dir/loader/keys/auto"
for key in PK KEK db; do
	cp "$rootfs/etc/gardenlinux/gardenlinux-secureboot.$(tr '[:upper:]' '[:lower:]' <<< "$key").auth" "$esp_dir/loader/keys/auto/$key.auth"
done
