#!/usr/bin/env bash
set -Eeuo pipefail

if [[ -f /etc/kernel/cmdline.d/50-ignition.cfg ]]; then rm /etc/kernel/cmdline.d/50-ignition.cfg; fi
if [[ -f /etc/dracut.conf.d/30-ignition.conf ]]; then rm /etc/dracut.conf.d/30-ignition.conf; fi

mkdir -p /usr/share/factory/etc
cp -a /etc/* /usr/share/factory/etc/.
rm /usr/share/factory/etc/veritytab
mv /usr/share/factory/etc/resolv.conf.orig /usr/share/factory/etc/resolv.conf