#!/usr/bin/env bash
set -Eeuo pipefail

# GL-TESTCOV-checkbox-service-nginx-unmask
# GL-TESTCOV-checkbox-service-nginx-enable
systemctl unmask nginx && systemctl enable nginx --now

# GL-TESTCOV-checkbox-config-issue
: >/etc/issue
# GL-TESTCOV-checkbox-config-issue-net
: >/etc/issue.net
# GL-TESTCOV-checkbox-config-motd
: >/etc/motd

# GL-TESTCOV-checkbox-config-issue-welcome
cat <<EOF >/etc/issue
Welcome to Garden Linux HW Testing Image

IP adresses:
IPv4: \4
IPv6: \6

Reports available at:
  http://one_of_ip_addresses_from_above/reports/

EOF

# GL-TESTCOV-checkbox-service-getty-tty1-disable
rm -rf /etc/systemd/system/getty@tty1.service.d
# GL-TESTCOV-checkbox-service-serial-getty-disable
rm -rf /etc/systemd/system/serial-getty@.service.d
