#!/usr/bin/env bash
set -Eeuo pipefail

sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
sed -i 's/^#\?AuthenticationMethods.*/AuthenticationMethods password/' /etc/ssh/sshd_config
cp -p /etc/shadow /etc/shadow.ORIG
usermod --password '$y$j9T$MOmOiVKPumidK.QeMv6Bj1$yTuto5iWpHdiGUOgrck53g9kGT0AlC1dMn0J3MtH8yD' root
