#!/usr/bin/env bash
set -Eeuo pipefail

sed -i 's/^#\?PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
sed -i 's/^#\?AuthenticationMethods.*/AuthenticationMethods password/' /etc/ssh/sshd_config
cp -p /etc/shadow /etc/shadow.ORIG
# shellcheck disable=SC2016
usermod --password '$y$j9T$MOmOiVKPumidK.QeMv6Bj1$yTuto5iWpHdiGUOgrck53g9kGT0AlC1dMn0J3MtH8yD' root
:>/etc/issue
:>/etc/issue.net
:>/etc/motd
mv /etc/update-motd.d /etc/update-motd.d.ORG

