#!/usr/bin/env bash
set -Eeuo pipefail

# Initials aide by creating the aide database based on the config under /etc/aide/aide.conf
# and create a cronjob to check against the database every night. The output of the nightly
# check will be written to /dev/shm/aide_check.

if [ ! -f /var/lib/aide/aide.db ]; then
    mkdir -p /var/lib/aide
    aide --init --config /etc/aide/aide.conf
    cp /var/lib/aide/aide.db{.new,}
fi

if [ ! -f /etc/cron.d/aide ]; then
    cat >> /var/spool/cron/crontabs/root << EOF
0 10 * * * root /usr/bin/aide --check --config /etc/aide/aide.conf > /dev/shm/aide_check 2>&1
EOF
fi
