#!/usr/bin/env bash

set -eufo pipefail

rootfs="$1"
out_dir="$2"
vmlinuz="$3"
initrd="$4"
cmdline="$5"

case "$BUILDER_ARCH" in
amd64)
	uefi_arch=X64
	;;
arm64)
	uefi_arch=AA64
	;;
esac

echo "Building unsigned UKI for PXE boot (architecture: $BUILDER_ARCH)"

# Build unsigned UKI for PXE boot
ukify build \
	--stub "$rootfs/usr/lib/systemd/boot/efi/linux$(tr '[:upper:]' '[:lower:]' <<<"$uefi_arch").efi.stub" \
	--linux "$out_dir/$vmlinuz" \
	--initrd "$out_dir/$initrd" \
	--cmdline "$cmdline" \
	--output "$out_dir/boot.efi"

echo "Unsigned UKI created at $out_dir/boot.efi"
