#!/usr/bin/env bash

set -eufo pipefail

uki="$1"
esp_dir="$2"
rootfs="$3"

case "$BUILDER_ARCH" in
	amd64)
		uefi_arch=X64
		gnu_arch=x86_64
		;;
	arm64)
		uefi_arch=AA64
		gnu_arch=aarch64
		;;
esac

mkdir -p "$esp_dir/EFI/BOOT"
cp "$rootfs/usr/lib/systemd/boot/efi/systemd-boot$(tr '[:upper:]' '[:lower:]' <<< "$uefi_arch").efi" "$esp_dir/EFI/BOOT/BOOT$uefi_arch.EFI"

mkdir "$esp_dir/loader"
cat > "$esp_dir/loader/loader.conf" << EOF
timeout 0
EOF

mkdir "$esp_dir/EFI/Linux"
cp "$uki" "$esp_dir/EFI/Linux/$BUILDER_CNAME.efi"
