#!/usr/bin/env bash
set -Eeuo pipefail

# set default umask to a more conservative value
sed -i 's/UMASK\t\t022/UMASK\t\t027/' /etc/login.defs

# set Garden Linux as default for dpkg
ln -sf /etc/dpkg/origins/gardenlinux /etc/dpkg/origins/default

chmod u-s /bin/umount /bin/mount

# Issue #1137
# Mark package as manual installed to pass the orphaned test
# The package is installed and required by debootstrap 1.0.127
apt-mark manual usr-is-merged

# Issue 1305
# Mark some packages as manual installed so that the orphaned test
# is not complaining. These packages are installed due to a bug
# in debootstrap 1.0.127+nmu1 which installs the dependencies of
# 'usrmerge' but leaves the package itself behind.
# garden-repo-manager gets installed during the debootstarp process
apt-mark manual \
  libfile-find-rule-perl \
  libgdbm-compat4 \
  libnumber-compare-perl \
  "libperl5.*" \
  libtext-glob-perl \
  garden-repo-manager
