#!/usr/bin/env bash
set -Eeuo pipefail

# set default umask to a more conservative value
sed -i 's/UMASK\t\t022/UMASK\t\t027/' /etc/login.defs

# set Garden Linux as default for dpkg
ln -sf /etc/dpkg/origins/gardenlinux /etc/dpkg/origins/default

chmod u-s /bin/umount /bin/mount

# Issue #1137
# Mark package as manual installed to pass the orphaned test
# The package is installed and required by debootstrap 1.0.127
apt-mark manual usr-is-merged
