[Unit]
Description=Garden Linux Firewall IPv4
DefaultDependencies=no
After=systemd-sysctl.service
Before=sysinit.target
[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore /etc/firewall/ipv4_gl_default.conf
ExecReload=/sbin/iptables-restore /etc/firewall/ipv4_gl_default.conf
ExecStop=/etc/firewall/ipv4_flush.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
