on:
  workflow_call:
    inputs:
      flags:
        description: "Flags passed to bin/flavors_parse.py"
        type: string
        required: true
      flavors_matrix:
        type: string
    outputs:
      matrix:
        description: "Flavors matrix"
        value: ${{ jobs.generate_matrix.outputs.matrix }}
jobs:
  generate_matrix:
    name: Build flavors matrix
    runs-on: "ubuntu-24.04"
    defaults:
      run:
        shell: bash
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - id: matrix
        name: Generate flavors matrix
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/flavors_parse@7535722f9819a2987ec830d80208f0d116bd3950 # pin@0.10.10
        with:
          flags: ${{ inputs.flags }}
          flavors_matrix: ${{ inputs.flavors_matrix }}
