on:
  workflow_call:
    inputs:
      flags:
        description: 'Flags passed to bin/flavors_parse.py'
        type: string
        required: true
      flavors_matrix:
        type: string
    outputs:
      matrix:
        description: 'Flavors matrix'
        value: ${{ jobs.generate_matrix.outputs.matrix }}
jobs:
  generate_matrix:
    name: Build flavors matrix
    runs-on: 'ubuntu-24.04'
    defaults:
      run:
        shell: bash
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
        with:
          submodules: true
      - id: matrix
        name: Generate flavors matrix
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/flavors_parse@hotfix-disabled-python-cache-in-setup-action
        with:
          flags: ${{ inputs.flags }}
          flavors_matrix: {"include":[{"arch":"amd64","flavor": "gcp-gardener_prod-amd64"}]}
# gcp-gardener_prod-arm64
# gcp-gardener_prod_tpm2_trustedboot-amd64
# gcp-gardener_prod_tpm2_trustedboot-arm64
# gcp-gardener_prod_trustedboot-amd64
# gcp-gardener_prod_trustedboot-arm64
# gcp-gardener_prod_usi-amd64
# gcp-gardener_prod_usi-arm64
