name: build
on:
  workflow_call:
    inputs:
      version:
        type: string
        default: today
      default_modifier:
        type: string
        default: ""
      use_kms:
        type: boolean
        default: false
    secrets:
      secureboot_db_kms_arn:
        required: false
      aws_region:
        required: false
      aws_kms_role:
        required: false
      aws_oidc_session:
        required: false
    outputs:
      version:
        value: ${{ jobs.version.outputs.version }}
jobs:
  version:
    name: resolve version
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - name: resolve version "${{ inputs.version }}"
        id: version
        run: echo version="$(bin/garden-version "${{ inputs.version }}")" | tee -a "$GITHUB_OUTPUT"
  cert:
    name: certificates
    needs: version
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      # - uses: gardenlinux/workflow-telemetry-action@c75b594f552d305ffd5f9074637137bc343ba35e # pin@v2
      #   with:
      #     metric_frequency: 1
      #     proc_trace_min_duration: 10
      #     proc_trace_chart_max_count: 50
      #     comment_on_pr: false
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - uses: ./.github/actions/setup
      - name: set VERSION=${{ needs.version.outputs.version }}
        run: |
          bin/garden-version "${{ needs.version.outputs.version }}" | tee VERSION
          git update-index --assume-unchanged VERSION
      - name: build certificates
        if: ${{ ! inputs.use_kms }}
        run: ./cert/build
      - name: use kms backed certificates
        if: ${{ inputs.use_kms }}
        run: |
          touch cert/gardenlinux-secureboot.db.arn
          for f in secureboot.{{pk,null.pk,kek,db}.auth,db.{crt,arn}}; do
          ln -sr "cert/gardenlinux-$f" "cert/$f"
          done
      - uses: actions/cache/save@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: cert
          key: cert-${{ github.run_id }}
  base:
    name: bootstrap stage
    needs: version
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-latest-arm' || 'ubuntu-latest' }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, arm64 ]
    steps:
      # - uses: gardenlinux/workflow-telemetry-action@c75b594f552d305ffd5f9074637137bc343ba35e # pin@v2
      #   with:
      #     metric_frequency: 1
      #     proc_trace_min_duration: 10
      #     proc_trace_chart_max_count: 50
      #     comment_on_pr: false
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - uses: ./.github/actions/setup
        with:
          arch: "${{ matrix.arch }}"
      - name: set VERSION=${{ needs.version.outputs.version }}
        run: |
          bin/garden-version "${{ needs.version.outputs.version }}" | tee VERSION
          git update-index --assume-unchanged VERSION
      - name: build base-${{ matrix.arch }}
        run: ./build base-${{ matrix.arch }}
      - uses: actions/cache/save@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: .build
          key: base-${{ matrix.arch }}-${{ github.run_id }}
  test_container:
    name: container image for tests
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-latest-arm' || 'ubuntu-latest' }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, arm64 ]
    steps:
      # - uses: gardenlinux/workflow-telemetry-action@c75b594f552d305ffd5f9074637137bc343ba35e # pin@v2
      #   with:
      #     metric_frequency: 1
      #     proc_trace_min_duration: 10
      #     proc_trace_chart_max_count: 50
      #     comment_on_pr: false
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - uses: ./.github/actions/setup
        with: 
          arch: "${{ matrix.arch }}"
      - name: build test container
        run: |
          OCI_IMAGE_TAG="$(./build --print-container-image)"
          if [[ -f builder.dockerfile ]]; then
          podman build -t "$OCI_IMAGE_TAG" -f builder.dockerfile .
          fi
          podman build --squash --tag test --build-arg base="$OCI_IMAGE_TAG" tests
          podman save --format oci-archive test > test.oci
      - name: upload test container
        uses: actions/cache/save@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: test.oci
          key: test_container:${{ matrix.arch }}-${{ github.run_id }}
  images:
    needs: [ version, cert, base, test_container ]
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-latest-arm' || 'ubuntu-latest' }}
    defaults:
      run:
        shell: bash
    permissions:
      id-token: write
      packages: write
    environment: ${{ inputs.use_kms && 'oidc_aws_kms_secureboot_signing' || '' }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, arm64 ]
        target: [ kvm, "kvm_secureboot", "kvm_secureboot_readonly", "kvm_secureboot_readonly_persistence", metal, "metal_secureboot", "metal_secureboot_readonly", "metal_secureboot_readonly_persistence", gcp, gdch, aws, "aws_secureboot", "aws_secureboot_readonly", "aws_secureboot_readonly_persistence", azure, ali, openstack, openstackbaremetal, vmware, "metal_pxe", firecracker, "metal-vhost" ]
        modifier: [ "${{ inputs.default_modifier }}" ]
        include:
          - target: container
            arch: amd64
            modifier: ""
          - target: container
            arch: arm64
            modifier: ""
    steps:
      # - uses: gardenlinux/workflow-telemetry-action@c75b594f552d305ffd5f9074637137bc343ba35e # pin@v2
      #   with:
      #     metric_frequency: 1
      #     proc_trace_min_duration: 10
      #     proc_trace_chart_max_count: 50
      #     comment_on_pr: false
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - uses: ./.github/actions/setup
        with: 
          arch: "${{ matrix.arch }}"
      - name: set VERSION=${{ needs.version.outputs.version }}
        run: |
          bin/garden-version "${{ needs.version.outputs.version }}" | tee VERSION
          git update-index --assume-unchanged VERSION
      - name: load cert cache
        uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: cert
          key: cert-${{ github.run_id }}
          fail-on-cache-miss: true
      - name: write secureboot db arn for kms backed certificates
        if: ${{ inputs.use_kms }}
        run: echo "${{ secrets.secureboot_db_kms_arn }}" > cert/gardenlinux-secureboot.db.arn
      - name: configure aws credentials for kms signing
        if: ${{ inputs.use_kms }}
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # pin@v4
        with:
          role-to-assume: ${{ secrets.aws_kms_role }}
          role-session-name: ${{ secrets.aws_oidc_session }}
          aws-region: ${{ secrets.aws_region }}
      - name: load bootstrap stage cache
        uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: .build
          key: base-${{ matrix.arch }}-${{ github.run_id }}
          fail-on-cache-miss: true
      - name: download test container cache
        uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: test.oci
          key: test_container:${{ matrix.arch }}-${{ github.run_id }}
          fail-on-cache-miss: true
      - name: import test container image
        run: |
          podman load < test.oci
          rm test.oci
      - name: update bootstrap stage build artifact timestamps
        run: |
          t="$(date '+%s')"
          find .build -exec touch -d "@$t" {} +
      - name: build
        run: ./build ${{ inputs.use_kms && '--kms' || '' }} ${{ matrix.target }}${{ matrix.modifier }}-${{ matrix.arch }}
      - name: test
        run: ./test --container-image test ${{ matrix.target }}${{ matrix.modifier }}-${{ matrix.arch }}
      - uses: pmeier/pytest-results-action@fc6576eced1f411ea48ab10e917d9cfce2960e29 # pin@v0.7.1
        if: always()
        with:
          path: tests/test.xml
      - name: get cname
        run: |
          cname=$(basename "$(realpath ".build/${{ matrix.target }}${{ matrix.modifier }}-${{ matrix.arch }}")" .artifacts)
          echo "cname=$cname" | tee -a "$GITHUB_ENV"
      - name: pack build artifacts for upload
        run: tar -cSzvf "${{ env.cname }}.tar.gz" -C .build -T ".build/${{ env.cname }}.artifacts"
      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # pin@v3
        with:
          name: "${{ env.cname }}"
          path: "${{ env.cname }}.tar.gz"
  oci_publish:
    needs: [ version, cert, images ]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    permissions:
      id-token: write
      packages: write
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        arch: [ amd64, arm64 ]
        target: [ kvm, "kvm_secureboot", "kvm_secureboot_readonly", "kvm_secureboot_readonly_persistence", metal, "metal_secureboot", "metal_secureboot_readonly", "metal_secureboot_readonly_persistence", gcp, gdch, aws, "aws_secureboot", "aws_secureboot_readonly", "aws_secureboot_readonly_persistence", azure, ali, openstack, openstackbaremetal, vmware, "metal_pxe", firecracker, "metal-vhost" ]
        modifier: [ "${{ inputs.default_modifier }}" ]
        include:
          - target: container
            arch: amd64
            modifier: ""
          - target: container
            arch: arm64
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: set VERSION=${{ needs.version.outputs.version }}
        run: |
          bin/garden-version "${{ needs.version.outputs.version }}" | tee VERSION
          git update-index --assume-unchanged VERSION
      - name: get cname
        run: |
          cname="${{ matrix.target }}${{ matrix.modifier }}-${{ matrix.arch }}-$(cat VERSION)-$(head -c 8 <<< $(./get_commit))"
          echo "cname=$cname" | tee -a "$GITHUB_ENV"
      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.cname }}"
      - name: Unpack artifacts to .build
        run: |
          mkdir -p .build
          tar -xzf "${{ env.cname }}.tar.gz" -C .build
      - name: create and push OCI image
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install git+https://github.com/gardenlinux/python-gardenlinux-cli.git
          ls .build
          GLOCI_REGISTRY_TOKEN=${{ secrets.GITHUB_TOKEN }} GLOCI_REGISTRY_USERNAME=${{ github.repository_owner }} glcli oci push --container ghcr.io/${{ github.repository_owner }}/gl-oci --version $(cat VERSION) --architecture ${{ matrix.arch }} --cname "${{ matrix.target }}${{ matrix.modifier }}" --gardenlinux_root $PWD
          deactivate

  bare_flavors:
    needs: [ version, base ]
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-latest-arm' || 'ubuntu-latest' }}
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, arm64 ]
        config: [ libc, python, nodejs, sapmachine ]
    steps:
      # - uses: gardenlinux/workflow-telemetry-action@c75b594f552d305ffd5f9074637137bc343ba35e # pin@v2
      #   with:
      #     metric_frequency: 1
      #     proc_trace_min_duration: 10
      #     proc_trace_chart_max_count: 50
      #     comment_on_pr: false
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
      - uses: ./.github/actions/setup
        with:
          arch: "${{ matrix.arch }}"
      - name: set VERSION=${{ needs.version.outputs.version }}
        run: |
          bin/garden-version "${{ needs.version.outputs.version }}" | tee VERSION
          git update-index --assume-unchanged VERSION
      - name: load bootstrap stage cache
        uses: actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # pin@v3
        with:
          path: .build
          key: base-${{ matrix.arch }}-${{ github.run_id }}
          fail-on-cache-miss: true
      - name: update bootstrap stage build artifact timestamps
        run: |
          t="$(date '+%s')"
          find .build -exec touch -d "@$t" {} +
      - name: build
        run: ./build_bare_flavors --arch "${{ matrix.arch }}" "${{ matrix.config }}"
      - name: test
        run: |
          image="$(podman load < .build/bare_flavors/${{ matrix.config }}-${{ matrix.arch }}.oci | awk '{ print $NF }')"
          cd bare_flavors/${{ matrix.config }}/test
          podman build -t test --build-arg image="$image" .
          podman run --rm test
      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # pin@v3
        with:
          name: "bare-${{ matrix.config }}-${{ matrix.arch }}"
          path: ".build/bare_flavors/${{ matrix.config }}-${{ matrix.arch }}.oci"
