name: build_flavor
on:
  workflow_call:
    inputs:
      arch:
        type: string
        default: "amd64"
      bare_flavor:
        type: string
        required: true
      commit_id:
        type: string
        required: true
      version:
        type: string
        required: true
      prefix:
        type: string
        default: ''
jobs:
  build:
    name: Build bare flavor ${{ inputs.bare_flavor }} (${{ inputs.arch }})
    runs-on: ${{ inputs.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    defaults:
      run:
        shell: bash
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Set build reference
        run: |
          echo "${{ inputs.commit_id }}" | tee COMMIT
          echo "${{ inputs.version }}" | tee VERSION
      - name: Build
        run: |
          flavor="${{ inputs.bare_flavor }}"
          bare_flavor="${flavor//bare-/}"

          ./build_bare_flavors "${bare_flavor}"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # pin@v6.0.0
        with:
          name: ${{ inputs.prefix }}build-${{ inputs.bare_flavor }}-${{ inputs.arch }}
          path: .build/bare_flavors/*.oci
          include-hidden-files: true
          if-no-files-found: error
      - uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # pin@v5.0.3
        with:
          path: |
            COMMIT
            VERSION
          key: ${{ inputs.prefix }}build-${{ inputs.bare_flavor }}-${{ inputs.arch }}-${{ github.run_id }}
