name: build_flavor
on:
  workflow_call:
    inputs:
      arch:
        type: string
        default: "amd64"
      flavor:
        type: string
        required: true
      commit_id:
        type: string
        required: true
      version:
        type: string
        required: true
      signing_env:
        type: string
        default: ""
      prefix:
        type: string
        default: ''
    secrets:
      secureboot_db_kms_arn:
        required: false
      aws_region:
        required: false
      aws_kms_role:
        required: false
      aws_oidc_session:
        required: false
jobs:
  build:
    name: Build flavor ${{ inputs.flavor }} (${{ inputs.arch }})
    runs-on: ${{ inputs.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    defaults:
      run:
        shell: bash
    permissions:
      id-token: write
      actions: write
    env:
      CNAME: ""
      USE_KMS: ${{ inputs.signing_env == '' && 'false' || 'true' }}
    environment: ${{ inputs.signing_env }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@2d52501ef10ba3b10d04fff5c24ffcd882f3ea07 # pin@0.10.13
      - name: Set build reference
        run: |
          echo "${{ inputs.commit_id }}" | tee COMMIT
          echo "${{ inputs.version }}" | tee VERSION
      - name: Load certs artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # pin@v7.0.0
        with:
          name: ${{ inputs.prefix }}certs
          path: cert/
      - name: Configure aws credentials for kms signing
        id: aws_auth
        if: ${{ env.USE_KMS == 'true' }}
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # pin@v4
        with:
          role-to-assume: ${{ secrets.aws_kms_role }}
          role-session-name: ${{ secrets.aws_oidc_session }}
          aws-region: ${{ secrets.aws_region }}
          role-duration-seconds: 14400
      - name: Write secureboot db arn for kms backed certificates
        if: ${{ steps.aws_auth.conclusion == 'success' }}
        run: echo "${{ secrets.secureboot_db_kms_arn }}" > cert/secureboot.db.arn
      - name: Build
        run: make ${{ inputs.flavor }}-${{ inputs.arch }}-build
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@2d52501ef10ba3b10d04fff5c24ffcd882f3ea07 # pin@0.10.13
      - name: Set CNAME
        run: |
          echo "CNAME=$(gl-features-parse --cname ${{ inputs.flavor }}-${{ inputs.arch }} cname)" | tee -a "$GITHUB_ENV"
      - name: Pack build artifacts for upload
        run: tar -cSzvf "$CNAME.tar.gz" -C .build -T ".build/$CNAME.artifacts"
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # pin@v6.0.0
        with:
          name: ${{ inputs.prefix }}build-${{ inputs.flavor }}-${{ inputs.arch }}
          path: ${{ env.CNAME }}.tar.gz
          if-no-files-found: error
      - uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # pin@v5.0.3
        with:
          path: |
            COMMIT
            VERSION
          key: ${{ inputs.prefix }}build-${{ inputs.flavor }}-${{ inputs.arch }}-${{ github.run_id }}
