on:
  workflow_call:
    inputs:
      flags:
        description: "Flags passed to bin/flavors_parse.py"
        type: string
        required: true
      flavors_matrix:
        type: string
      ref:
        type: string
        default: ${{ github.ref }}
    outputs:
      matrix:
        description: "Flavors matrix"
        value: ${{ jobs.generate_matrix.outputs.matrix }}
jobs:
  generate_matrix:
    name: Build flavors matrix
    runs-on: "ubuntu-24.04"
    defaults:
      run:
        shell: bash
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}
          sparse-checkout: |
            flavors.yaml
          sparse-checkout-cone-mode: false
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@e68236134acc7416606052599f4cfab7b9ea3b7c # pin@0.10.14
      - id: matrix
        name: Generate flavors matrix
        run: |
          MATRIX='${{ inputs.flavors_matrix }}'

          if [[ $(echo "${MATRIX}" | jq -r 'type') != 'object' ]]; then
            FLAVORS=$(gl-flavors-parse ${{ inputs.flags }})
            MATRIX=$(jq -nc \
              --argjson flavors "$(echo $FLAVORS)" \
              '{
                include: (
                  $flavors | reduce (to_entries[]) as $item ([]; . + ($item.value | map({"arch": $item.key, "flavor": .})))
                )
              }'
            )
          fi

          echo "matrix=$MATRIX" | tee -a $GITHUB_OUTPUT
