on:
  workflow_call:
    inputs:
      flags:
        description: 'Flags passed to bin/flavors_parse.py'
        type: string
        required: true
      flavors_matrix:
        type: string
      ref:
        type: string
        required: true
    outputs:
      matrix:
        description: 'Flavors matrix'
        value: ${{ jobs.generate_matrix.outputs.matrix }}
jobs:
  generate_matrix:
    name: Build flavors matrix
    runs-on: 'ubuntu-24.04'
    defaults:
      run:
        shell: bash
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # pin@v4.1.1
        with:
          ref: ${{ inputs.ref }}
          submodules: true
      - id: matrix
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/flavors_parse@feature/gardenlinux-restructure
        with:
          flags: ${{ inputs.flags }}
          flavors_matrix: ${{ inputs.flavors_matrix }}
