name: Build Lima Container
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
jobs:
  lima_manifest_container:
    name: Build Container for lima manifest generation
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: gardenlinux/gardenlinux/lima
      IMAGE_TAG: latest
    defaults:
      run:
        shell: bash
    permissions:
      # Push container images
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install qemu dependency for multi-arch build
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static podman

      - name: Build and Push Image to ghcr.io
        id: build_image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2.13
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAG }}
          containerfiles: |
            ./Containerfile.lima-manifest
          platforms: linux/amd64,linux/arm64
      - name: Push image to ghcr.io
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2.8
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      

