name: build
on:
  workflow_call:
    inputs:
      version:
        description: 'Garden Linux version'
        type: string
        default: today
      target:
        type: string
        default: dev
      flavors_parse_params:
        description: 'Run bin/parse_flavors.py with these parameters'
        default: '--exclude "bare-*" --no-arch --json-by-arch --build --test'
        type: string
      flavors_matrix:
        description: 'Already generated GitHub workflow flavors matrix'
        type: string
      platform_test_tag:
        description: 'Tag to run platform-test containers. "latest" or GL version. Tag must be available in `ghcr.io/gardenlinux/gardenlinux/platform-test-*`'
        type: string
        default: latest
      platform_test_build:
        description: 'Run platform-test image build.'
        type: boolean
        default: true
      bare_flavors_parse_params:
        description: 'Run bin/parse_flavors.py with these parameters for bare flavors'
        default: '--include-only "bare-*" --no-arch --json-by-arch --build --test'
        type: string
      fail_fast:
        description: 'Cancel workflow run on first error'
        type: boolean
        default: false
      prefix:
        type: string
        default: ''
    secrets:
      aws_region:
        required: false
      aws_kms_role:
        required: false
      aws_oidc_session:
        required: false
      secureboot_db_kms_arn:
        required: false
    outputs:
      flavors_matrix:
        value: ${{ jobs.flavors_matrix.outputs.matrix }}
      version:
        value: ${{ jobs.requirements.outputs.version }}
      bare_flavors_matrix:
        value: ${{ jobs.bare_flavors_matrix.outputs.matrix }}
jobs:
  requirements:
    name: Prepare build requirements
    uses: ./.github/workflows/build_requirements.yml
    with:
      version: ${{ inputs.version == '' && 'now' || inputs.version }}
      target: ${{ inputs.target }}
      prefix: ${{ inputs.prefix }}
  bootstrap:
    needs: requirements
    name: Bootstrap build
    uses: ./.github/workflows/build_bootstrap.yml
    with:
      commit_id: ${{ needs.requirements.outputs.commit_id }}
      version: ${{ needs.requirements.outputs.version }}
      prefix: ${{ inputs.prefix }}
  platform_test_image:
    needs: requirements
    name: Build platform-test image
    uses: ./.github/workflows/build_platform_test_images.yml
    with:
      version: ${{ needs.requirements.outputs.version }}
      platforms: '["tofu"]'
      platform_test_tag: ${{ inputs.platform_test_tag }}
      build: ${{ inputs.platform_test_build }}
      prefix: ${{ inputs.prefix }}
  flavors_matrix:
    name: Generate flavors matrix to build
    uses: ./.github/workflows/build_flavors_matrix.yml
    with:
      flags: ${{ inputs.flavors_parse_params }}
      flavors_matrix: ${{ inputs.flavors_matrix }}
  flavors:
    needs: [ bootstrap, flavors_matrix, requirements ]
    name: Build flavors
    strategy:
      matrix: ${{ fromJson(needs.flavors_matrix.outputs.matrix ) }}
      fail-fast: ${{ inputs.fail_fast }}
    with:
      arch: ${{ matrix.arch }}
      flavor: ${{ matrix.flavor }}
      commit_id: ${{ needs.requirements.outputs.commit_id }}
      version: ${{ needs.requirements.outputs.version }}
      signing_env: ${{ needs.requirements.outputs.signing_env }}
      prefix: ${{ inputs.prefix }}
    uses: ./.github/workflows/build_flavor.yml
    secrets: inherit
  kmodbuild_container:
    needs: [ flavors, requirements ]
    name: Build kernel module build dev container
    uses: ./.github/workflows/build_kmodbuild_container.yml
    with:
      version: ${{ needs.requirements.outputs.version }}
      prefix: ${{ inputs.prefix }}
  bare_flavors_matrix:
    name: Generate bare flavors matrix to build
    uses: ./.github/workflows/build_flavors_matrix.yml
    with:
      flags: ${{ inputs.bare_flavors_parse_params }}
  bare_flavors:
    needs: [ bootstrap, bare_flavors_matrix, requirements ]
    name: Build bare flavors
    strategy:
      matrix: ${{ fromJson(needs.bare_flavors_matrix.outputs.matrix) }}
      fail-fast: ${{ inputs.fail_fast }}
    with:
      arch: ${{ matrix.arch }}
      bare_flavor: ${{ matrix.flavor }}
      commit_id: ${{ needs.requirements.outputs.commit_id }}
      version: ${{ needs.requirements.outputs.version }}
      prefix: ${{ inputs.prefix }}
    uses: ./.github/workflows/build_bare_flavor.yml
    secrets: inherit
  upload_flavor_version_data:
    needs: [ requirements, flavors ]
    name: Store flavor version data
    runs-on: ubuntu-24.04
    steps:
      - name: Store data in JSON file
        run: |
          jq -r -n '{
            "commit_id": "${{ needs.requirements.outputs.commit_id }}",
            "version": "${{ needs.requirements.outputs.version }}",
            "target": "${{ needs.requirements.outputs.target }}"
          }' '.' > flavor_version_data.json
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: ${{ inputs.prefix }}flavor-version-data
          path: flavor_version_data.json
          if-no-files-found: error
