name: Generate and upload CPE to a release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version
        type: string
        required: true
jobs:
  build-and-upload:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build local container 
        run: podman pull ghcr.io/gardenlinux/cpe:latest

      - name: Generate CPE 
        run: podman run -i ghcr.io/gardenlinux/cpe:latest -p "${{ inputs.version }}" | tail -n1 > gardenlinux-cpe.json

      - name: Upload asset to release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "${{ inputs.version }}"
          files: gardenlinux-cpe.json 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

