name: dev
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-dev
  cancel-in-progress: true
on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**/README.md"
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/README.md'
jobs:
  set_version:
    name: Set VERSION
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use VERSION file to support dev build on rel-branch
        id: version
        run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
  build:
    needs: set_version
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      version: ${{ needs.set_version.outputs.version }}
      fail_fast: false
    permissions:
      id-token: write # TODO: 3215 elevated permissions for included workflow
      actions: write  # TODO: 3215 elevated permissions for included workflow
      packages: write # TODO: 3215 elevated permissions for included workflow
  test:
    needs: build
    if: ${{ success() || failure() }}
    name: Test
    uses: ./.github/workflows/tests.yml
    with:
      flavors_matrix: ${{ needs.build.outputs.flavors_matrix }}
      bare_flavors_matrix: ${{ needs.build.outputs.bare_flavors_matrix }}
      test_types: "chroot,qemu,oci,bare"
    permissions:
      id-token: write # TODO: 3215 elevated permissions for included workflow
      actions: write # TODO: 3215 elevated permissions for included workflow
      checks: write # Required for test_report job to write workflow summary
