name: dev
on:
  # push:
  #   paths-ignore:
  #     - 'docs/**'
  #     - '**/README.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/README.md'
jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      version: today
