name: Differential ShellCheck
on:
  push:
    branches:
    - main
    - rel-*
  pull_request:
    branches:
    - main
    - rel-*
jobs:
  lint:
    runs-on: ubuntu-24.04

    permissions:
      # required for all workflows
      security-events: write

    steps:
      - name: Repository checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
        with:
          fetch-depth: 0

      - id: ShellCheck
        name: Differential ShellCheck
        uses: redhat-plumbers-in-action/differential-shellcheck@0d9e5b29625f871e6a4215380486d6f1a7cb6cdd # pin@aa647ec4466543e8555c2c3b648124a9813cee44
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
