name: Re-run workflow run
on:
  # triggered manually
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Workflow run ID'
        type: string
        required: true
      retries:
        description: 'Workflow run retries'
        type: string
        default: '1'
jobs:
  trigger:
    name: Retry workflow run ${{ inputs.run_id }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
      - name: Retry failed build
        uses: actions/github-script@v8
        with:
          script: |
            const githubEvent = ${{ toJson(github.event) }};

            if (githubEvent.sender.type != "Bot") {
              core.setFailed("Workflow run request is not supported for sender.type: " + githubEvent.sender.type);
              return false;
            }

            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");
            return await gitHubLib.retryWorkflow(core, github.rest.actions, context, ${{ inputs.run_id }}, parseInt("${{ inputs.retries }}"));
