name: Re-run workflow run
on:
  # triggered manually
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Workflow run ID'
        type: string
        required: true
      retries:
        description: 'Workflow run retries'
        type: string
        default: '1'
jobs:
  trigger:
    name: Retry workflow run ${{ inputs.run_id }}
    runs-on: ubuntu-24.04
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Retry failed build
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const githubEvent = ${{ toJson(github.event) }};

            if (githubEvent.sender.type != "Bot") {
              core.setFailed("Workflow run request is not supported for sender.type: " + githubEvent.sender.type);
              return false;
            }

            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");
            return await gitHubLib.retryWorkflow(core, github.rest.actions, context, ${{ inputs.run_id }}, parseInt("${{ inputs.retries }}"));
