name: nightly rel-934
on:
  schedule:
    - cron: '0 6 * * *'
jobs:
  trigger_workflow_dispatch:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout 934 branch
        uses: actions/checkout@v4.1.1
        with:
          ref: 'rel-934'

      - name: Get the latest 934 version (including minor version)
        run: echo "VERSION=$(./bin/garden-version)" >> $GITHUB_ENV

      - name: Trigger nightly for rel-934 with version input
        run: |
          curl -vv --fail-with-body -X POST -u "token:${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/${{ github.repository }}/actions/workflows/28837699/dispatches" -d "{\"ref\":\"rel-934\", \"inputs\":{\"version\":\"$VERSION\"}}"


