name: nightly
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-nightly
  cancel-in-progress: true
on:
  schedule:
    - cron: '0 6 * * *'
jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    permissions:
      id-token: write
    with:
      version: now
      target: nightly
      platform_test_tag: latest
      fail_fast: true
    secrets:
      aws_region: ${{ secrets.AWS_REGION }}
      aws_kms_role: ${{ secrets.KMS_SIGNING_IAM_ROLE }}
      aws_oidc_session: ${{ secrets.AWS_OIDC_SESSION }}
      secureboot_db_kms_arn: ${{ secrets.SECUREBOOT_DB_KMS_ARN }}
  build_retry:
    needs: build
    if: ${{ failure() && needs.build.result == 'failure' }}
    name: 'Retry checkpoint: Build'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
      - name: Retry failed build
        uses: actions/github-script@v8
        with:
          script: |
            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");

            const gitHubRef = "${{ github.head_ref == '' && github.ref_name || github.head_ref }}";
            return await gitHubLib.dispatchRetryWorkflow(core, github.rest.actions, context, gitHubRef, 5);
  test:
    needs: build
    name: Test
    uses: ./.github/workflows/tests.yml
    with:
      flavors_matrix: ${{ needs.build.outputs.flavors_matrix }}
      version: ${{ needs.build.outputs.version }}
      platform_test: true
      bare_flavors_matrix: ${{ needs.build.outputs.bare_flavors_matrix }}
    permissions:
      id-token: write
    secrets:
      gcp_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      gcp_service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
      gcp_project_id: ${{ secrets.GCP_PROJECT }}
      gcp_region: ${{ secrets.GCP_REGION }}
      gcp_zone: ${{ secrets.GCP_ZONE }}
      aws_role: ${{ secrets.AWS_TESTS_IAM_ROLE }}
      aws_session: ${{ secrets.AWS_TESTS_OIDC_SESSION }}
      aws_region: ${{ secrets.AWS_TESTS_REGION }}
      aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
      az_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      az_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      az_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ccc_credentials: ${{ secrets.CCC_CREDENTIALS }}
      tf_encryption: ${{ secrets.TF_ENCRYPTION }}
  test_retry:
    needs: test
    if: ${{ failure() && needs.test.result == 'failure' }}
    name: 'Retry checkpoint: Test'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
      - name: Retry failed test
        uses: actions/github-script@v8
        with:
          script: |
            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");

            const gitHubRef = "${{ github.head_ref == '' && github.ref_name || github.head_ref }}";
            return await gitHubLib.dispatchRetryWorkflow(core, github.rest.actions, context, gitHubRef, 8);
  upload_workflow_data:
    needs: [ build, test ]
    name: Store workflow data
    runs-on: ubuntu-24.04
    steps:
      - name: Store data in JSON file
        run: |
          jq -r --arg 'matrix' '${{ needs.build.outputs.flavors_matrix }}' --arg 'bare_matrix' '${{ needs.build.outputs.bare_flavors_matrix }}' -n '{
            "id": ${{ github.run_id }},
            "flavors_matrix": $matrix,
            "bare_flavors_matrix": $bare_matrix,
            "version": "${{ needs.build.outputs.version }}",
            "original_workflow_name": "${{ github.workflow }}"
          }' '.' > workflow_data.json
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # pin@v4.6.2
        with:
          name: workflow-data
          path: workflow_data.json
          if-no-files-found: error
