name: Platform Test Cleanup
on:
  schedule:
    - cron: '0 4 * * *'  # Run daily at 4 AM UTC
  # manual trigger
  workflow_dispatch:

jobs:
  collect_workspaces:
    name: Collect Workspaces to Cleanup
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    environment: oidc_platform_tests
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - id: 'auth_aws'
        name: 'Authenticate to AWS'
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # pin@v4
        with:
          role-to-assume: ${{ secrets.AWS_TESTS_IAM_ROLE }}
          role-session-name: ${{ secrets.AWS_TESTS_OIDC_SESSION }}
          aws-region: ${{ secrets.AWS_TESTS_REGION }}

      - name: Find Old OpenTofu Workspaces
        id: set-matrix
        run: |
          # List objects older than 1 day and extract workspace names
          WORKSPACES=$(aws s3api list-objects-v2 \
            --bucket gardenlinux-dev-gh-actions-tfstate \
            --query "Contents[?LastModified<='`date -d '1 day ago' --iso-8601=seconds`'].Key" \
            --output json | jq -r '.[]' | grep "^env:/" | \
            sed -E 's|env:/([^/]+)/terraform.tfstate|\1|' | grep -v ^tfstate | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=${WORKSPACES}" >> $GITHUB_OUTPUT

  cleanup:
    needs: collect_workspaces
    if: ${{ needs.collect_workspaces.outputs.matrix != '[]' && needs.collect_workspaces.outputs.matrix != '' }}
    name: Cleanup Workspace
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
    environment: oidc_platform_tests
    env:
      IMAGE: ghcr.io/gardenlinux/gardenlinux/platform-test-tofu:latest

    strategy:
      fail-fast: false
      matrix:
        workspace: ${{ fromJson(needs.collect_workspaces.outputs.matrix) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true
      - name: 'Authenticate to Google Cloud'
        uses: google-github-actions/auth@140bb5113ffb6b65a7e9b937a81fa96cf5064462 # pin@v1
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          create_credentials_file: true
          cleanup_credentials: true
          export_environment_variables: true
      - name: Set GCP platform-test environment
        uses: actions/github-script@v8
        with:
          script: |
            const path = await import("path");

            const basePath = "/gardenlinux/";
            const credentialsFileName = path.basename(process.env.GOOGLE_APPLICATION_CREDENTIALS);

            core.exportVariable("GOOGLE_APPLICATION_CREDENTIALS", basePath + credentialsFileName);
            core.exportVariable("CLOUDSDK_AUTH_CREDENTIAL_FILE_OVERRIDE", basePath + credentialsFileName);
            core.exportVariable("GOOGLE_GHA_CREDS_PATH", basePath + credentialsFileName);
      - id: 'auth_aws'
        name: 'Authenticate to AWS'
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # pin@v4
        with:
          role-to-assume: ${{ secrets.AWS_TESTS_IAM_ROLE }}
          role-session-name: ${{ secrets.AWS_TESTS_OIDC_SESSION }}
          aws-region: ${{ secrets.AWS_TESTS_REGION }}
          output-credentials: true
      - name: Set AWS platform-test environment
        uses: actions/github-script@v8
        with:
          script: |
            core.setSecret("${{ steps.auth_aws.outputs.aws-access-key-id }}");
            core.exportVariable("AWS_ACCESS_KEY_ID", "${{ steps.auth_aws.outputs.aws-access-key-id }}");
            core.setSecret("${{ steps.auth_aws.outputs.aws-secret-access-key }}");
            core.exportVariable("AWS_SECRET_ACCESS_KEY", "${{ steps.auth_aws.outputs.aws-secret-access-key }}");
            core.setSecret("${{ steps.auth_aws.outputs.aws-session-token }}");
            core.exportVariable("AWS_SESSION_TOKEN", "${{ steps.auth_aws.outputs.aws-session-token }}");
      - name: 'Authenticate to Azure'
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # pin@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      - name: Set Azure platform-test environment
        uses: actions/github-script@v8
        with:
          script: |
            core.exportVariable("ARM_USE_OIDC", "true");

            core.setSecret("${{ secrets.AZURE_CLIENT_ID }}");
            core.exportVariable("ARM_CLIENT_ID", "${{ secrets.AZURE_CLIENT_ID }}");
            core.setSecret("${{ secrets.AZURE_SUBSCRIPTION_ID }}");
            core.exportVariable("ARM_SUBSCRIPTION_ID", "${{ secrets.AZURE_SUBSCRIPTION_ID }}");
            core.setSecret("${{ secrets.AZURE_TENANT_ID }}");
            core.exportVariable("ARM_TENANT_ID", "${{ secrets.AZURE_TENANT_ID }}");
      - name: 'Create ali cloud credential file'
        uses: actions/github-script@v8
        with:
          script: |
            const credentials = JSON.parse(atob("${{ secrets.CCC_CREDENTIALS }}"));
            const aliCredentials = credentials.alicloud["gardenlinux-platform-test"];

            core.exportVariable("ALIBABA_CLOUD_REGION", aliCredentials.region);

            core.setSecret(aliCredentials.access_key_id);
            core.exportVariable("ALIBABA_CLOUD_ACCESS_KEY_ID", aliCredentials.access_key_id);
            core.setSecret(aliCredentials.access_key_secret);
            core.exportVariable("ALIBABA_CLOUD_ACCESS_KEY_SECRET", aliCredentials.access_key_secret);
      - name: Set additional OpenTofu platform-test variables
        uses: actions/github-script@v8
        with:
          script: |
            const tfEncryption = Buffer.from("${{ secrets.TF_ENCRYPTION }}", 'base64').toString('utf-8');
            core.setSecret(tfEncryption);
            core.exportVariable("TF_ENCRYPTION", tfEncryption);

            core.setSecret("${{ secrets.GCP_PROJECT }}");
            core.exportVariable("TF_VAR_gcp_project_id", "${{ secrets.GCP_PROJECT }}");

            core.exportVariable("OS_AUTH_URL", "http://localhost:3000");

            core.exportVariable("WORKSPACE", "${{ matrix.workspace }}");
            core.exportVariable("FLAVOR", "${{ matrix.workspace }}".replace(/-........$/, ""));
      - name: Setup Environment
        run: |
          # ssh key generation (if missing)
          test -f ~/.ssh/id_ed25519 || ssh-keygen -t ed25519 -P "" -f ~/.ssh/id_ed25519
          # secureboot certificate files
          mkdir -p cert
          touch cert/secureboot.db.crt cert/secureboot.pk.der cert/secureboot.db.der cert/secureboot.kek.der cert/secureboot.aws-efivars
          # create directories for credentials
          mkdir -p ~/.aws ~/.azure ~/.aliyun ~/.config/gcloud
      - name: Destroy OpenTofu Resources and delete workspaces
        run: |
          echo "Processing workspace: ${WORKSPACE}"
          echo "Processing flavor: ${FLAVOR}"

          podman run --rm \
            -v ${PWD}:/gardenlinux \
            -v ~/.ssh:/root/.ssh:ro \
            -e "TF_*" \
            -v ~/.aliyun:/root/.aliyun -e "ALIBABA_*" \
            -v ~/.aws:/root/.aws -e "AWS_*" \
            -v ~/.azure:/root/.azure -e "azure_*" -e "ARM_*" -e "ACTIONS_*" \
            -v ~/.config/gcloud:/root/.config/gcloud -e "GOOGLE_*" -e "CLOUDSDK_*" \
            -e "OS_*" \
            ${IMAGE} \
            bash -c "
              cd /gardenlinux/tests/platformSetup/tofu && \
              if [ ! -f backend.tf ]; then cp backend.tf.github backend.tf; tofu init; fi && \
              ../platformSetup.py --provisioner tofu --test-prefix gh-actions --flavor ${FLAVOR} --create-tfvars && \
              tofu workspace select ${WORKSPACE} && \
              tofu destroy -var-file variables.${FLAVOR}.tfvars -auto-approve && \
              tofu workspace select default && \
              tofu workspace delete ${WORKSPACE}
            "            
