# @TODO: Replace with safe OCI manifast handling variant
name: publish_oci_containers
on:
  workflow_call:
    inputs:
      run_id:
        type: string
        required: true
      commit_id:
        type: string
        required: true
      version:
        type: string
        required: true
      target:
        type: string
        required: true
      flavors_matrix:
        type: string
        required: true
      bare_flavors_matrix:
        type: string
        default: '{"include":[]}'
      original_workflow_name:
        type: string
        default: ""
      compatibility_flags:
        description: "Flags to activate compatibility modes"
        type: string
        default: ""
    secrets:
      aws_role:
        required: true
      aws_session:
        required: true
      aws_region:
        required: true
      oci_kms_arn:
        required: true
env:
  GL_COMPATIBILITY_FLAGS: ${{ inputs.compatibility_flags }}
jobs:
  determine_environment:
    name: Determine release environment and repository for ${{ inputs.target }}
    runs-on: ubuntu-latest
    outputs:
      environment: ${{ steps.set_values.outputs.environment }}
      repository: ${{ steps.set_values.outputs.repository }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          sparse-checkout: |
            .github/**
          sparse-checkout-cone-mode: false
      - name: Set environment and repository
        id: set_values
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");

            core.setOutput("environment", gitHubLib.getGitHubSigningEnvironmentFromTarget("${{ inputs.target }}"));
            const repository = gitHubLib.getGHCRRepositoryFromTarget("${{ inputs.target }}");

            if (repository == "") {
              core.setFailed("Invalid release target ${{ inputs.target }}");
              return false;
            }

            core.setOutput("repository", repository);

            return true;
  container:
    needs: determine_environment
    name: Publish container images
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    env:
      CNAME_AMD64: ""
      CNAME_ARM64: ""
    permissions:
      packages: write
    strategy:
      matrix:
        include:
          - flavor: "container"
            subpath: ""
          - flavor: "container-pythonDev"
            subpath: "/container-python-dev"
    steps:
      - if: ${{ contains(inputs.compatibility_flags, "full_checkout") }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.commit_id }}
          submodules: true
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@e68236134acc7416606052599f4cfab7b9ea3b7c # pin@0.10.14
      - name: Set container version reference
        run: |
          echo "${{ inputs.commit_id }}" | tee COMMIT
          echo "${{ inputs.version }}" | tee VERSION
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # pin@v7.0.0
        with:
          name: build-${{ matrix.flavor }}-amd64
          github-token: ${{ github.token }}
          run-id: ${{ inputs.run_id }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # pin@v7.0.0
        with:
          name: build-${{ matrix.flavor }}-arm64
          github-token: ${{ github.token }}
          run-id: ${{ inputs.run_id }}
      - name: Set CNAMEs
        run: |
          echo "CNAME_AMD64=$(gl-features-parse --cname ${{ matrix.flavor }}-amd64 --release-file "${{ matrix.flavor }}-amd64-*.release" cname)" | tee -a "$GITHUB_ENV"
          echo "CNAME_ARM64=$(gl-features-parse --cname ${{ matrix.flavor }}-arm64 --release-file "${{ matrix.flavor }}-arm64-*.release" cname)" | tee -a "$GITHUB_ENV"
      - name: Publish container images
        run: |
          if [ "${{ inputs.original_workflow_name }}" = "nightly" ]; then
            is_nightly=true
          else
            is_nightly=false
          fi

          version="$(cat VERSION)"

          podman login -u token -p ${{ github.token }} ghcr.io
          tar xzv < "${CNAME_AMD64}.tar.gz"
          image="$(podman load < ${CNAME_AMD64}.oci | awk '{ print $NF }')"

          # Tagging for amd64 nightly
          if [ $is_nightly = true ]; then
            podman tag "$image" ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:amd64-nightly
            podman push ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:amd64-nightly
          fi

          # Tagging for amd64 with version
          podman tag "$image" ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:amd64-${version}
          podman push ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:amd64-${version}

          tar xzv < "${CNAME_ARM64}.tar.gz"
          image="$(podman load < ${CNAME_ARM64}.oci | awk '{ print $NF }')"

          # Tagging for arm64 nightly
          if [ $is_nightly = true ]; then
            podman tag "$image" ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:arm64-nightly
            podman push ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:arm64-nightly
          fi

          # Tagging for arm64 with version
          podman tag "$image" ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:arm64-${version}
          podman push ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:arm64-${version}

          # Creating and pushing manifest for nightly
          if [ $is_nightly = true ]; then
            podman manifest create ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:nightly
            podman manifest add ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:nightly ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:amd64-nightly
            podman manifest add ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:nightly ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:arm64-nightly
            podman manifest push ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:nightly
          fi

          # Creating and pushing manifest for version tag
          podman manifest create ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:${version}
          podman manifest add ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:${version} ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:amd64-${version}
          podman manifest add ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:${version} ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:arm64-${version}
          podman manifest push ${{ needs.determine_environment.outputs.repository }}${{ matrix.subpath }}:${version}
  bare_flavors:
    needs: determine_environment
    name: Publish bare flavors
    if: ${{ inputs.bare_flavors_matrix != '{"include":[]}' }}
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        # @TODO: Replace with input matrix once OCI manifest tooling is ready to update existing ones
        config: [libc, python, nodejs, sapmachine]
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.commit_id }}
          sparse-checkout: |
            bin/**
          sparse-checkout-cone-mode: false
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # pin@v7.0.0
        with:
          pattern: build-bare-${{ matrix.config }}-*
          merge-multiple: true
          github-token: ${{ github.token }}
          run-id: ${{ inputs.run_id }}
      - name: Publish bare flavor image ${{ matrix.config }}
        run: |
          if [ "${{ inputs.original_workflow_name }}" = "nightly" ]; then
            is_nightly=true
          else
            is_nightly=false
          fi
          version=$(bin/garden-version "${{ inputs.version }}")

          podman login -u token -p ${{ github.token }} ghcr.io

          # Handling amd64 image
          image="$(podman load < ${{ matrix.config }}-amd64.oci | awk '{ print $NF }')"

          # Tagging and pushing amd64 with version
          podman tag "$image" ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:amd64-$version
          podman push ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:amd64-$version

          # Tagging and pushing amd64 with nightly
          if [ $is_nightly = true ]; then
            podman tag "$image" ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:amd64-nightly
            podman push ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:amd64-nightly
          fi

          # Handling arm64 image
          image="$(podman load < ${{ matrix.config }}-arm64.oci | awk '{ print $NF }')"

          # Tagging and pushing arm64 with version
          podman tag "$image" ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:arm64-$version
          podman push ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:arm64-$version

          # Tagging and pushing arm64 with nightly
          if [ $is_nightly = true ]; then
            podman tag "$image" ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:arm64-nightly
            podman push ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:arm64-nightly
          fi

          # Creating and pushing manifest for version tag
          podman manifest create ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:$version
          podman manifest add ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:$version ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:amd64-$version
          podman manifest add ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:$version ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:arm64-$version
          podman manifest push ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:$version

          # Creating and pushing manifest for nightly tag
          if [ $is_nightly = true ]; then
            podman manifest create ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:nightly
            podman manifest add ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:nightly ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:amd64-nightly
            podman manifest add ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:nightly ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:arm64-nightly
            podman manifest push ${{ needs.determine_environment.outputs.repository }}/bare-${{ matrix.config }}:nightly
          fi
  push_flavors:
    needs: determine_environment
    name: Publish flavors
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    env:
      CNAME: ""
      GL_ALLOW_MULTIPLE_PLATFORMS: "1"
    permissions:
      id-token: write
      packages: write
    environment: ${{ needs.determine_environment.outputs.environment }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(inputs.flavors_matrix) }}
      max-parallel: 8
    steps:
      - if: ${{ contains(inputs.compatibility_flags, "full_checkout") }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.commit_id }}
          submodules: true
      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # pin@v4
        with:
          role-to-assume: ${{ secrets.aws_role }}
          role-session-name: ${{ secrets.aws_session }}
          aws-region: ${{ secrets.aws_region }}
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@e68236134acc7416606052599f4cfab7b9ea3b7c # pin@0.10.14
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: "v2.4.1"
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # pin@v7.0.0
        with:
          name: build-${{ matrix.flavor }}-${{ matrix.arch }}
          github-token: ${{ github.token }}
          run-id: ${{ inputs.run_id }}
      - name: Set CNAME
        run: |
          echo "CNAME=$(gl-features-parse --cname ${{ matrix.flavor }}-${{ matrix.arch }} --release-file "${{ matrix.flavor }}-${{ matrix.arch }}-*.release" cname)" | tee -a "$GITHUB_ENV"
      - name: Push using the glcli util
        env:
          GL_CLI_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GL_CLI_REGISTRY_USERNAME: ${{ github.repository_owner }}
        run: |
          mkdir "$CNAME"

          tar -C "$CNAME" -xzf "$CNAME.tar.gz"

          gl-oci push-manifest \
            --dir "${CNAME}" \
            --container ${{ needs.determine_environment.outputs.repository }} \
            --arch ${{ matrix.arch }} \
            --version ${{ inputs.version }} \
            --cname "${CNAME}" \
            --cosign_file digest.txt \
            --manifest_file "oci_manifest_entry_${CNAME}.json"
      - name: Sign the manifest
        run: |
          cat digest.txt
          docker login ghcr.io -u token -p ${{ github.token }}
          cosign sign -tlog-upload=false --key "awskms://kms.${{ secrets.aws_region }}.amazonaws.com/${{ secrets.oci_kms_arn }}" "${{ needs.determine_environment.outputs.repository }}@$(cat digest.txt)"
      - name: Verify signature
        run: |
          cosign verify --insecure-ignore-tlog=true --key "awskms://kms.${{ secrets.aws_region }}.amazonaws.com/${{ secrets.oci_kms_arn }}" "${{ needs.determine_environment.outputs.repository }}@$(cat digest.txt)"
      - uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # pin@v5.0.3
        with:
          path: oci_manifest_entry_${{ env.CNAME }}.json
          key: oci-manifest-${{ matrix.flavor }}-${{ matrix.arch }}-${{ github.run_id }}
  update_manifest_index:
    needs: [determine_environment, push_flavors]
    name: Update OCI manifest index
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    env:
      CNAME: ""
      GL_ALLOW_MULTIPLE_PLATFORMS: "1"
    permissions:
      id-token: write
      packages: write
      actions: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(inputs.flavors_matrix) }}
      max-parallel: 1
    steps:
      - if: ${{ contains(inputs.compatibility_flags, "full_checkout") }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.commit_id }}
          submodules: true
      - name: Install python-gardenlinux-lib
        uses: gardenlinux/python-gardenlinux-lib/.github/actions/setup@e68236134acc7416606052599f4cfab7b9ea3b7c # pin@0.10.14
      - uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # pin@v5.0.3
        with:
          path: oci_manifest_entry_${{ env.CNAME }}.json
          key: oci-manifest-${{ matrix.flavor }}-${{ matrix.arch }}-${{ github.run_id }}
      - name: Set CNAME
        run: |
          echo "CNAME=$(gl-features-parse --cname ${{ matrix.flavor }}-${{ matrix.arch }} --release-file "${{ matrix.flavor }}-${{ matrix.arch }}-*.release" cname)" | tee -a "$GITHUB_ENV"
      - name: Update index using glcli tool
        env:
          GL_CLI_REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GL_CLI_REGISTRY_USERNAME: ${{ github.repository_owner }}
        run: |
          mkdir manifests
          mv oci_manifest_entry_${CNAME}.json manifests/

          gl-oci push-index-from-directory \
            --index ${{ needs.determine_environment.outputs.repository }} \
            --index-tag ${{ inputs.version }} \
            --manifest_folder manifests

  publish_tests:
    name: Publish tests container
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    permissions:
      packages: write
    steps:
      - name: Set container version reference
        run: |
          echo "${{ inputs.commit_id }}" | tee COMMIT
          echo "${{ inputs.version }}" | tee VERSION
      - id: tests_containers
        name: Download built tests archives
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          pattern: tests-container-*
          merge-multiple: true
          github-token: ${{ github.token }}
          run-id: ${{ inputs.run_id }}
      - if: ${{ steps.tests_containers.outputs.cache-hit == 'true' }}
        name: Load OCI archives
        run: |
          for oci in *.oci; do
            podman load -i "${oci}"
            rm -f "${oci}"
          done
      - if: ${{ steps.tests_containers.outputs.cache-hit == 'true' }}
        name: Publish tests images and manifest
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          if [ "${{ inputs.original_workflow_name }}" = "nightly" ]; then
            is_nightly=true
          else
            is_nightly=false
          fi

          version="$(cat VERSION)"

          podman login -u token -p ${GITHUB_TOKEN} ghcr.io

          # Push amd64 and arm64 images
          podman push ghcr.io/${{ github.repository_owner }}/test:amd64-${version}
          podman push ghcr.io/${{ github.repository_owner }}/test:arm64-${version}

          if [ "$is_nightly" = true ]; then
            podman tag ghcr.io/${{ github.repository_owner }}/test:amd64-${version} ghcr.io/${{ github.repository_owner }}/test:amd64-nightly
            podman tag ghcr.io/${{ github.repository_owner }}/test:arm64-${version} ghcr.io/${{ github.repository_owner }}/test:arm64-nightly
            podman push ghcr.io/${{ github.repository_owner }}/test:amd64-nightly
            podman push ghcr.io/${{ github.repository_owner }}/test:arm64-nightly
          fi

          # Create and push manifests
          if [ "$is_nightly" = true ]; then
            podman manifest create ghcr.io/${{ github.repository_owner }}/test:nightly
            podman manifest add ghcr.io/${{ github.repository_owner }}/test:nightly ghcr.io/${{ github.repository_owner }}/test:amd64-nightly
            podman manifest add ghcr.io/${{ github.repository_owner }}/test:nightly ghcr.io/${{ github.repository_owner }}/test:arm64-nightly
            podman manifest push ghcr.io/${{ github.repository_owner }}/test:nightly
          fi

          podman manifest create ghcr.io/${{ github.repository_owner }}/test:${version}
          podman manifest add ghcr.io/${{ github.repository_owner }}/test:${version} ghcr.io/${{ github.repository_owner }}/test:amd64-${version}
          podman manifest add ghcr.io/${{ github.repository_owner }}/test:${version} ghcr.io/${{ github.repository_owner }}/test:arm64-${version}
          podman manifest push ghcr.io/${{ github.repository_owner }}/test:${version}
