name: 'Publish to S3'
on:
  workflow_dispatch:
    inputs:
      run_id:
        description: Workflow run ID
        type: number
        required: true
  workflow_run:
    workflows: [ 'Build and publish a release', 'nightly' ]
    types: [ 'completed' ]
jobs:
  workflow_data:
    if: ${{ github.event_name == 'workflow_dispatch' && inputs.run_id || github.event.workflow_run.conclusion == 'success' }}
    name: Download workflow JSON data from trigger
    uses: ./.github/workflows/download_workflow_data.yml
    with:
      run_id: ${{ github.event_name == 'workflow_dispatch' && inputs.run_id || github.event.workflow_run.id }}
  workflow_data_artifact:
    name: Publish parent workflow-data artifact
    needs: [ workflow_data ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # pin@v5.0.0
        with:
          name: workflow-data
          github-token: ${{ github.token }}
          run-id: ${{ needs.workflow_data.outputs.run_id }}
      - name: Upload parent workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: parent-workflow-data
          overwrite: true
          path: 'workflow_data.json'
  trustedboot_flavors_supported_matrix:
    needs: workflow_data
    name: Generate flavors matrix for trustedboot
    uses: ./.github/workflows/build_flavors_matrix.yml
    with:
      flags: '--include-only "*trustedboot*" --no-arch --json-by-arch'
  trustedboot_flavors_matrix:
    needs: [ trustedboot_flavors_supported_matrix, workflow_data ]
    name: Intersect matrix supporting trustedboot
    runs-on: 'ubuntu-24.04'
    defaults:
      run:
        shell: bash
    outputs:
      flavors_matrix: ${{ steps.matrix.outputs.flavors_matrix }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
        with:
          submodules: true
      - id: matrix
        name: Calculate matrix
        uses: actions/github-script@v8
        with:
          script: |
            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");

            // chroot_test_flavors_matrix
            let matrix = gitHubLib.intersectFlavorsMatrix(
              ${{ needs.workflow_data.outputs.flavors_matrix }},
              ${{ needs.trustedboot_flavors_supported_matrix.outputs.matrix }}
            );

            core.setOutput("flavors_matrix", matrix);
  non_trustedboot_flavors_matrix:
    needs: [ trustedboot_flavors_supported_matrix, workflow_data ]
    name: Exclude matrix of flavors supporting trustedboot
    runs-on: 'ubuntu-24.04'
    defaults:
      run:
        shell: bash
    outputs:
      flavors_matrix: ${{ steps.matrix.outputs.flavors_matrix }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
        with:
          submodules: true
      - id: matrix
        name: Calculate matrix
        uses: actions/github-script@v8
        with:
          script: |
            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");

            // chroot_test_flavors_matrix
            let matrix = gitHubLib.excludeFlavorsMatrix(
              ${{ needs.workflow_data.outputs.flavors_matrix }},
              ${{ needs.trustedboot_flavors_supported_matrix.outputs.matrix }}
            );

            core.setOutput("flavors_matrix", matrix);
  upload_trustedboot_flavors_to_s3:
    needs: [ trustedboot_flavors_matrix, workflow_data ]
    name: Upload flavors supporting trustedboot to S3
    permissions:
      id-token: write
    uses: ./.github/workflows/upload_to_s3.yml
    with:
      commit_id: ${{ needs.workflow_data.outputs.commit_id }}
      version: ${{ needs.workflow_data.outputs.version }}
      flavors_matrix: ${{ needs.trustedboot_flavors_matrix.outputs.flavors_matrix }}
      run_id: ${{ needs.workflow_data.outputs.run_id }}
      with_certs: true
    secrets:
      aws_region: ${{ secrets.AWS_REGION }}
      aws_role: ${{ secrets.AWS_IAM_ROLE }}
      aws_session: ${{ secrets.AWS_OIDC_SESSION }}
      aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
  upload_trustedboot_flavors_to_s3_china:
    needs: [ trustedboot_flavors_matrix, workflow_data ]
    name: Upload flavors supporting trustedboot to S3 (China)
    permissions:
      id-token: write
    uses: ./.github/workflows/upload_to_s3.yml
    with:
      commit_id: ${{ needs.workflow_data.outputs.commit_id }}
      version: ${{ needs.workflow_data.outputs.version }}
      flavors_matrix: ${{ needs.trustedboot_flavors_matrix.outputs.flavors_matrix }}
      run_id: ${{ needs.workflow_data.outputs.run_id }}
      with_certs: true
    secrets:
      aws_region: ${{ secrets.AWS_CN_REGION }}
      aws_role: ${{ secrets.AWS_CN_IAM_ROLE }}
      aws_session: ${{ secrets.AWS_CN_OIDC_SESSION }}
      aws_s3_bucket: ${{ secrets.AWS_CN_S3_BUCKET }}
  upload_non_trustedboot_flavors_to_s3:
    needs: [ non_trustedboot_flavors_matrix, workflow_data ]
    name: Upload flavors not supporting trustedboot to S3
    permissions:
      id-token: write
    uses: ./.github/workflows/upload_to_s3.yml
    with:
      commit_id: ${{ needs.workflow_data.outputs.commit_id }}
      version: ${{ needs.workflow_data.outputs.version }}
      flavors_matrix: ${{ needs.non_trustedboot_flavors_matrix.outputs.flavors_matrix }}
      run_id: ${{ needs.workflow_data.outputs.run_id }}
    secrets:
      aws_region: ${{ secrets.AWS_REGION }}
      aws_role: ${{ secrets.AWS_IAM_ROLE }}
      aws_session: ${{ secrets.AWS_OIDC_SESSION }}
      aws_s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
  upload_non_trustedboot_flavors_to_s3_china:
    needs: [ non_trustedboot_flavors_matrix, workflow_data ]
    name: Upload flavors not supporting trustedboot to S3 (China)
    permissions:
      id-token: write
    uses: ./.github/workflows/upload_to_s3.yml
    with:
      commit_id: ${{ needs.workflow_data.outputs.commit_id }}
      version: ${{ needs.workflow_data.outputs.version }}
      flavors_matrix: ${{ needs.non_trustedboot_flavors_matrix.outputs.flavors_matrix }}
      run_id: ${{ needs.workflow_data.outputs.run_id }}
    secrets:
      aws_region: ${{ secrets.AWS_CN_REGION }}
      aws_role: ${{ secrets.AWS_CN_IAM_ROLE }}
      aws_session: ${{ secrets.AWS_CN_OIDC_SESSION }}
      aws_s3_bucket: ${{ secrets.AWS_CN_S3_BUCKET }}
  glrd:
    needs: [ workflow_data, upload_trustedboot_flavors_to_s3, upload_non_trustedboot_flavors_to_s3 ]
    name: create GLRD release
    permissions:
      id-token: write
    environment: oidc_aws_s3_upload
    runs-on: ubuntu-24.04
    steps:
      - uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # pin@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
          role-session-name: ${{ secrets.AWS_OIDC_SESSION }}
          aws-region: ${{ secrets.AWS_REGION }}
      - if: ${{ github.ref_name == 'main' }}
        name: Create GLRD nightly release
        uses: gardenlinux/glrd@v3
        with:
          cmd: glrd-manage --s3-update --create nightly --version "${{ needs.workflow_data.outputs.version }}" --commit "${{ needs.workflow_data.outputs.commit_id }}"
      - if: ${{ github.ref_name != 'main' }}
        name: Create GLRD patch release
        uses: gardenlinux/glrd@v3
        with:
          cmd: glrd-manage --s3-update --create patch --version "${{ needs.workflow_data.outputs.version }}" --commit "${{ needs.workflow_data.outputs.commit_id }}"
      - name: Get latest GL nightly
        id: gl_version_nightly
        uses: gardenlinux/glrd@v3
        with:
          cmd: glrd --type nightly --latest
  publish_retry:
    needs: [ upload_trustedboot_flavors_to_s3, upload_trustedboot_flavors_to_s3_china, upload_non_trustedboot_flavors_to_s3, upload_non_trustedboot_flavors_to_s3_china, glrd ]
    if: ${{ failure() && ( needs.upload_trustedboot_flavors_to_s3.result == 'failure' || needs.upload_trustedboot_flavors_to_s3_china.result == 'failure' || needs.upload_non_trustedboot_flavors_to_s3.result == 'failure' || needs.upload_non_trustedboot_flavors_to_s3_china.result == 'failure' || needs.glrd.result == 'failure' ) }}
    name: 'Retry checkpoint: Publish to S3'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
      - name: Retry failed publishing
        uses: actions/github-script@v8
        with:
          script: |
            const gitHubLib = await import("${{ github.workspace }}/.github/workflows/github.mjs");

            const gitHubRef = "${{ github.head_ref == '' && github.ref_name || github.head_ref }}";
            return await gitHubLib.dispatchRetryWorkflow(core, github.rest.actions, context, gitHubRef, 5);
