name: STIG compliance

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: [ kvm, aws, azure, ali, gcp, metal ]
    steps:
      - uses: actions/checkout@v4
      # Workaround for crun version, cf https://github.com/gardenlinux/gardenlinux/pull/1982
      - uses: ./.github/actions/setup
      - name: Build the image
        run: ./build ${{ matrix.platform}}-stig
      - name: Test the image
        run: ./test ${{ matrix.platform}}-stig
      - name: Upload build logs
        uses: actions/upload-artifact@v4
        with:
          name: STIG-${{ matrix.platform}}-logs
          path: .build/*log
