name: upload to S3
on:
  workflow_call:
    inputs:
      default_modifier:
        type: string
        default: ""
    secrets:
      bucket:
        required: true
      region:
        required: true
      role:
        required: true
      session:
        required: true
jobs:
  upload_to_s3:
    name: upload to S3
    runs-on: ec2-gardenlinux-amd64
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        architecture: [ amd64, arm64 ]
        target: [ kvm, metal, gcp, aws, azure, ali, openstack, openstackbaremetal, vmware ]
        modifier: [ "${{ inputs.default_modifier }}" ]
    steps:
      - uses: actions/checkout@v2
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.role }}
          role-session-name: ${{ secrets.session }}
          aws-region: ${{ secrets.region }}
      - uses: actions/download-artifact@v2
        with:
          name: build-${{ matrix.architecture }}-${{ matrix.target }}${{ matrix.modifier }}
      - name: upload to S3 bucket ${{ secrets.bucket }}
        run: .github/workflows/upload_to_s3.sh ${{ secrets.bucket }} ${{ matrix.target }}${{ matrix.modifier }}-${{ matrix.architecture }}-*.tar.gz
  upload_test_logs_to_s3:
    name: upload test logs to S3
    runs-on: ec2-gardenlinux-amd64
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        architecture: [ amd64, arm64 ]
        target: [ gcp, aws, azure ]
        modifier: [ "${{ inputs.default_modifier }}" ]
        exclude:
          - architecture: arm64
            target: gcp
          - architecture: arm64
            target: azure
    steps:
      - uses: actions/checkout@v2
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.role }}
          role-session-name: ${{ secrets.session }}
          aws-region: ${{ secrets.region }}
      - uses: actions/download-artifact@v2
        with:
          name: test-log-${{ matrix.architecture }}-${{ matrix.target }}${{ matrix.modifier }}
      - name: upload to S3 bucket ${{ secrets.bucket }}
        run: aws s3 cp "${{ matrix.target }}${{ matrix.modifier }}-${{ matrix.architecture }}-"*.integration-tests-log "s3://${{ secrets.bucket }}/integration-tests-logs/"
